{% extends "site_template.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

    <div class="container aboutSummary">
        <div class="row">
            <img src="/static/images/Dash.jpg" alt="Dash" class="personalImg">
            <div class="aboutSummaryText">
                <p>
                    I am currently a graduate student in the lab of
                    <a href="http://www.harveylab.org">Christopher Harvey</a> at Harvard Medical School. My research focuses
                    on the neuronal circuit mechanisms underlying evidence accumulation for decision-making. Prior to coming
                    to Harvard, I attended UCSD where I worked with <a href="http://logg.salk.edu/">Fred Gage</a>
                    on the role of REST in adult neurogenesis. I am fascinated by complexity in all things, which is why
                    I'm studying the most complex machine I've been able to find: the mammalian brain.
                </p>
                <p>
                    I started this website/blog to pursue analysis of data sets that don't involve neurons. I'll choose
                    data sets which seem interesting, random questions I'm curious about, and try to use this as an
                    opportunity to try out a variety of data analysis techniques, especially those stemming from machine
                    learning. Should I find something worth sharing, I'll make a blog post about it.
                </p>
                <p>
                    When I'm not in the lab, I like to go on adventures throughout Boston with my awesome dog, Dash.
                    I'm a borderline obsessive baseball fan (Go Angels!) and know the names of way more prospects than is
                    probably healthy.
                </p>
            </div>
        </div>
    </div>

{% endblock %}