/* Main page background */
body {
    background-color: #F8F8F8;
}

/* Navigation bar */
.navBar img {
    height: 125px;
}

.navBar {
    /*display: table;*/
    padding-top: 1.3em;
    line-height: 125px;
}

.navText {
    margin-left: auto;
    margin-right: auto;
}

.navBar .nav > li > a{
    color: #303030;
    font-size: 3em;
    font-family: "Abel",sans-serif;
}

.navBar .nav > li > a:hover {
    font-weight: bolder;
    text-shadow: -0.1em 0.1em 0.5em darkgray;
    background-color: inherit;
}

/* Research */
.neuronActivityImg {
    float: right;
    padding-left: 1em;
}

.researchStatement p {
    text-align: justify;
    font-family: "Abel",sans-serif;
    font-size: 1.3em;
}

.cvLink a {
    font-size: 2em;
}

/* About */
.aboutSummary {
    padding-top: 1em;
}

.aboutSummaryText {
    padding-top: 5em;
}
.aboutSummary p {
    color: #303030;
    font-family: "Abel", sans-serif;
    font-size: 1.3em;
    text-align: justify;
}

.personalImg {
    float: right;
    box-shadow: -0.6em 0.4em 0.5em darkgray;
    height: 600px;
    margin-left: 1em;
}

/* Contact */
.contactHeader h1 {
    color: #303030;
    font-family: "Abel", sans-serif;
    font-weight: bold;
    font-size: 5em;
    padding-bottom: 0.15em;
}

.emailLink img {
    width: 8.5%;
    padding-bottom: 0.5em;
    padding-right: 1em;
}

.socialLinks a {
    font-family: "Abel", sans-serif;
    font-size: 2em;
}

.twitterLink img {
    width: 7%;
    padding-bottom: 0.5em;
    padding-right: 1em;
}

.githubLink img {
    padding-right: 0.7em;
}

.socialLinks a:hover {
    font-weight: bolder;
    text-shadow: -0.1em 0.1em 0.5em darkgray;
    background-color: inherit;
    text-decoration: none;
}

/* Footer Text */
.footerText {
    position: fixed;
    bottom: 0px;
}

.copyrightText {
    margin-left: 5em;
}