/* Main page background */
body {
    background-color: #F8F8F8;
}


/* Hovered over */

/* Navigation bar */
.navBar img {
    width: 100%;
}

.navBar {
    /*display: table;*/
    padding-top: 1.3em;
}

.navText {
    padding-top: 1.5em;
}

.navBar .nav > li > a{
    color: #303030;
    font-size: 3em;
    font-family: "Abel",sans-serif;
}

/* Research */
.neuronActivityImg {
    float: right;
    padding-left: 1em;
}

.researchStatement p {
    text-align: justify;
    font-family: "Abel",sans-serif;
    font-size: 1.3em;
}

.cvLink a {
    font-size: 2em;
}

/* Contact */
.contactHeader h1 {
    color: #303030;
    font-family: "Abel", sans-serif;
    font-weight: bold;
    font-size: 5em;
    padding-bottom: 0.15em;
}

.emailLink img {
    width: 8.5%;
    padding-bottom: 0.5em;
    padding-right: 1em;
}

.socialLinks a {
    font-family: "Abel", sans-serif;
    font-size: 2em;
}

.twitterLink img {
    width: 7%;
    padding-bottom: 0.5em;
    padding-right: 1em;
}

.githubLink img {
    padding-right: 0.7em;
}

