/* Main page background */
html, body {
    background-color: #2B2B2B;
    font-family: "Abel", sans-serif;
    color: #2B2B2B;
    height: 100%;
}

/* General classes */
.container-fluid{
    padding: 0;
}

.page-wrap{
    min-height: 100%;
    margin-bottom: -5em;
}

.page-wrap:after{
    content: "";
    display: block;
}

.contentCard {
    background-color: #F6F6F6;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Name header */
.nameHeader {
    text-align: center;
    padding-left: 2%;
}
.nameHeader h1{
    color: #F6F6F6;
    font-size: 5em;
    font-weight: bolder;
    text-shadow: .03em .03em #505050;
}

/* Navigation bar */

/*.navBar .nav > li > a:hover {*/
    /*font-weight: bolder;*/
    /*text-shadow: -0.1em 0.1em 0.5em darkgrey;*/
    /*background-color: inherit;*/
/*}*/
.navIcon {
    display: inline-flex;
}

.navBar {
    display: block;
    text-align: center;
}

.navIcon img {
    border-radius: 50%;
    padding: 0.5em;
    border: 0.5em solid #F6F6F6;
    width: 5em;
    margin-left: 1em;
    margin-right: 1em;
}

/* Current Section */
.currSection {
    background-color: #DE1B1B;
    margin-top: 1em;
    margin-bottom: 1em;
}

.currSection h2 {
    color: #F6F6F6;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 2%;
}

*[role="heading"] {
    font-weight: bold;
    text-shadow: 0.05em 0.05em #505050;
    color: #303030;
    font-size: 3em;
}

/* Research */
.neuronActivityImg {
    float: right;
    padding-left: 1em;
    padding-right: 1em;
}

.researchStatement p {
    text-align: justify;
    font-size: 1.3em;
    padding-left: 1em;
}

.cvLink a {
    font-size: 2em;
}

/* About */
.aboutSummary {
    padding-top: 1em;
}

.aboutSummaryText {
}
.aboutSummary p {
    color: #303030;
    font-size: 1.3em;
    text-align: justify;
}

.personalImg {
    float: right;
    box-shadow: -0.6em 0.4em 0.5em darkgray;
    height: 600px;
    margin-left: 2em;
    margin-bottom: 1em;
    margin-right: 1em;
}

/* Contact */
.contactHeader h1 {
    color: #303030;
    font-weight: bold;
    font-size: 5em;
    padding-bottom: 0.15em;
}

.emailLink img {
    width: 100%;
    padding-bottom: 0.5em;
}

.socialLinks a {
    font-family: "Abel", sans-serif;
    font-size: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
}

.socialLinks {
}

.twitterLink img {
    width: 100%;
    padding-bottom: 0.5em;
}

.githubLink img {
    width: 100%;
}

.socialLinks a:hover {
    font-weight: bolder;
    text-shadow: -0.1em 0.1em 0.5em darkgray;
    background-color: inherit;
    text-decoration: none;
}

/* Footer Text */
.siteFooter, .page-wrap:after{
    height: 5em;
}

.siteFooter {
    color: #F6F6F6;
    background-color: #DE1B1B;
    padding-top: 2em;
}

.copyrightText {
    margin-top: auto;
    margin-bottom: auto;
}