@import 'animate-me.less';
@lesscompiler: 'js';

@import (reference) 'style.less';

@animate-min-pix: 2px;

// About Me
//noinspection LessUnresolvedMixin
.animate-me(flipY; 1s 150ms; '.navAbout > a:hover > img';
  '50%, 100%'; 'transform: rotateY(180deg)';
  0%; '%stransform: rotateY(0deg)';
);

.navAbout > a:hover {
    background-color: @highlightColor;
}

.animateAboutMe {
    -moz-animation: flipY 2s 1s infinite;
    -o-animation: flipY 2s 1s infinite;
    -ms-animation: flipY 2s 1s infinite;
    -webkit-animation: flipY 2s 1s infinite;
    animation: flipY 2s 1s infinite;
}

.animateAboutMeColor {
    background-color: @highlightColor;
}

// Neuro Research

//noinspection LessUnresolvedMixin
.animate-me(wiggle; 3s 150ms; '.navNeuroResearch > a:hover > img';
  '0%, 70%, 100%'; '%stransform: rotate(0deg)';
  15%; '%stransform: rotate(-30deg)';
  45%; '%stransform: rotate(20deg)';
);

.navNeuroResearch > a:hover {
    background-color: @highlightColor;
}

.animateNeuroResearch {
    -moz-animation: wiggle 3s 1s infinite;
    -o-animation: wiggle 3s 1s infinite;
    -ms-animation: wiggle 3s 1s infinite;
    -webkit-animation: wiggle 3s 1s infinite;
    animation: wiggle 3s 1s infinite;
}

.animateNeuroResearchColor {
    background-color: @highlightColor;
}

// ML Research

//noinspection LessUnresolvedMixin
.animate-me(fade_in_out; 3s infinite; '.navMLResearch > a:hover > .dnn_im_container > img'; 
  '0%, 32.9%, 100%'; '%sopacity: 1';
  '33%, 99.9%'; '%sopacity: 0';
);

.navMLResearch > a:hover {
    background-color: @highlightColor;
}

.animateMLResearch {
    -moz-animation: fade_in_out 3s infinite;
    -o-animation: fade_in_out 3s infinite;
    -ms-animation: fade_in_out 3s infinite;
    -webkit-animation: fade_in_out 3s infinite;
    animation: fade_in_out 3s infinite;
}

.animateMLResearchColor {
    background-color: @highlightColor;
}

// Publications

//noinspection LessUnresolvedMixin
.animate-me(fly-up; 6s 200ms linear; '.navPubs > a:hover > .pub_im_container > .scroll_container > img';
  0%; '%stransform: translateY(0%)';
  10%; '%stransform: translateY(0%)';
  94.9%; '%sopacity: 1';
  94.95%; '%sopacity: 0';
  95%; '%stransform: translateY(-120%)';
  95.01%; '%stransform: translateY(0%)';
  95.02%; '%sopacity: 0';
  99.9%; '%sopacity: 1';
);

.animate-me(expand-container; 6s 200ms linear; '.navPubs > a:hover > .pub_im_container > .scroll_container';
  0%; '%sclip-path: polygon(0 0, 100% 0, 100% 25%, 0 25%)';
  55.5%; '%sclip-path: polygon(0 0, 100% 0, 100% 25%, 0 25%)';
  55.51%; '%sclip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)';
  95%; '%sclip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)';
  95.01%; '%sclip-path: polygon(0 0, 100% 0, 100% 25%, 0 25%)';
);

.animate-me(vanish; 6s 200ms; '.navPubs > a:hover > .pub_im_container > .scroll_short';
  0%; '%sopacity: 1';
  55.5%; '%sopacity: 1';
  55.51%; '%sopacity: 0';
  95.01%; '%sopacity: 0';
  99.9%; '%sopacity: 1';
);


.navPubs > a:hover {
    background-color: @highlightColor;
}

.animatePubsFlyUp {
    -moz-animation: fly-up 6s 200ms linear infinite;
    -o-animation: fly-up 6s 200ms linear infinite;
    -ms-animation: fly-up 6s 200ms linear infinite;
    -webkit-animation: fly-up 6s 200ms linear infinite;
    animation: fly-up 6s 200ms linear infinite;
}

.animatePubsVanish {
    -moz-animation: vanish 6s 200ms linear infinite;
    -o-animation: vanish 6s 200ms linear infinite;
    -ms-animation: vanish 6s 200ms linear infinite;
    -webkit-animation: vanish 6s 200ms linear infinite;
    animation: vanish 6s 200ms linear infinite;
}

.animatePubsExpand {
    -moz-animation: expand-container 6s 200ms linear infinite;
    -o-animation: expand-container 6s 200ms linear infinite;
    -ms-animation: expand-container 6s 200ms linear infinite;
    -webkit-animation: expand-container 6s 200ms linear infinite;
    animation: expand-container 6s 200ms linear infinite;
}

.animatePubsColor {
    background-color: @highlightColor;
}

// Pencil
@animate-2-pix: 2*@animate-min-pix;
@animate-3-pix: 3*@animate-min-pix;
@animate-4-pix: 4*@animate-min-pix;
@animate-5-pix: 5*@animate-min-pix;
@animate-6-pix: 6*@animate-min-pix;
@animate-7-pix: 7*@animate-min-pix;
@animate-8-pix: 8*@animate-min-pix;
//noinspection LessUnresolvedMixin
.animate-me(pencil-write; 2s 150ms; '.navBlog > a:hover > img';
  0%; '%stransform: rotate(-5deg) translate(0px,0px)';
  8%; '%stransform: rotate(5deg) translate(@{animate-2-pix},0px)';
  16%; '%stransform: rotate(-5deg) translate(@{animate-3-pix},0px)';
  24%; '%stransform: rotate(5deg) translate(@{animate-4-pix},0px)';
  32%; '%stransform: rotate(-5deg) translate(@{animate-5-pix},0px)';
  40%; '%stransform: rotate(5deg) translate(@{animate-6-pix},0px)';
  48%; '%stransform: rotate(-5deg) translate(@{animate-7-pix},0px)';
  56%; '%stransform: rotate(5deg) translate(@{animate-8-pix},0px)';
  90%; '%stransform: rotate(5deg) translate(0px,0px)';
);

.navBlog > a:hover {
    background-color: @highlightColor;
}

.animateBlog {
    -moz-animation: pencil-write 2s 1s infinite;
    -o-animation: pencil-write 2s 1s infinite;
    -ms-animation: pencil-write 2s 1s infinite;
    -webkit-animation: pencil-write 2s 1s infinite;
    animation: pencil-write 2s 1s infinite;
}

.animateBlogColor {
    background-color: @highlightColor;
}

// Contact
@animate-30-pix: 30*@animate-min-pix;
//noinspection LessUnresolvedMixin
.animate-me(fly-plane; 2s 150ms; '.navContact > a:hover > img';
  "0%, 51%"; '%stransform: translate(0px,0px)';
  50%; '%stransform: translate(@{animate-30-pix},-@{animate-30-pix})';
);

.navContact > a:hover {
    background-color: @highlightColor;
}

.animateContact {
    -moz-animation: fly-plane 2s 1s infinite;
    -o-animation: fly-plane 2s 1s infinite;
    -ms-animation: fly-plane 2s 1s infinite;
    -webkit-animation: fly-plane 2s 1s infinite;
    animation: fly-plane 2s 1s infinite;
}

.animateContactColor {
    background-color: @highlightColor;
}

