/* Main page background */
html,
body {
  background-color: #4b4b4b;
  font-family: "Abel", sans-serif;
  color: #4b4b4b;
  height: 100%;
}
html p,
body p {
  color: #303030;
}
.completeLeft {
  padding-left: 0;
}
.center-element {
  padding-left: auto;
  padding-right: auto;
}
.completeRight {
  padding-right: 0;
}
/* General classes */
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -5em;
}
.sectionHeading {
  font-weight: bold;
  margin-bottom: 0.75em;
  font-size: 3em;
}
.line {
  background-color: #f6f6f6;
  height: 5px;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
.page-wrap:after {
  content: "";
  display: block;
}
.contentCard {
  background-color: #f6f6f6;
  padding: 2em;
  margin-bottom: 1em;
}
/* Name header */
.nameHeader {
  text-align: center;
  padding-left: 2%;
}
.nameHeader h1 {
  color: #f6f6f6;
  font-size: 5em;
  font-weight: bolder;
  text-shadow: 0.03em 0.03em #505050;
}
/* Navigation bar */
.navIcon li {
  display: inline-block;
}
.navIcon a {
  display: inline-block;
  border-radius: 20%;
  border: 5px solid #f6f6f6;
  padding: 10px;
  width: 80px;
  height: 80px;
  margin-left: 1em;
  margin-right: 1em;
  overflow: hidden;
}
.navIcon img {
  margin: auto;
}
.navBar {
  text-align: center;
}
/* Current Section */
.currSection {
  background-color: #517398;
  margin-bottom: 1em;
}
.currSection h2 {
  color: #f6f6f6;
  margin-top: 1px;
  padding-left: 2%;
  margin-bottom: 0;
}
.currSection h3 {
  color: #f6f6f6;
  padding-left: 2%;
  margin-bottom: 4px;
  margin-top: 0;
}
*[role="heading"] {
  font-weight: bold;
  text-shadow: 0.03em 0.03em #505050;
  color: #303030;
  font-size: 3em;
}
/* Research */
.neuronActivityImg {
  float: right;
  padding-left: 1em;
  padding-right: 1em;
}
.researchStatement p {
  text-align: justify;
  font-size: 1.3em;
  padding-left: 1em;
  padding-right: 1em;
}
.cvLink a {
  font-size: 2em;
}
.blogPostTitle {
  margin-bottom: 0;
}
.blogDate {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1.5em;
}
.blogSummaryBottom a {
  font-size: 1.5em;
}
.blogSummaryBottom a:hover {
  text-shadow: 0.03em 0.03em #505050;
  text-decoration: none;
  color: steelblue;
}
.rightBlogBrowser {
  margin-right: -1em;
}
.bottomTagList p {
  font-size: 1.5em;
}
.bottomTagList a {
  font-size: 1em;
}
.rssSubscribe > p a {
  font-size: 1.5em;
  vertical-align: middle;
}
.rssSubscribe > p img {
  width: 35px;
}
.tagCloud a.tag1 {
  font-size: 1em;
  font-weight: 100;
}
.tagCloud a.tag2 {
  font-size: 1.3em;
  font-weight: 200;
}
.tagCloud a.tag3 {
  font-size: 1.6em;
  font-weight: 300;
}
.tagCloud a.tag4 {
  font-size: 1.9em;
  font-weight: 400;
}
.tagCloud a.tag5 {
  font-size: 2.2em;
  font-weight: 500;
}
.tagCloud a.tag6 {
  font-size: 2.5em;
  font-weight: 600;
}
.tagCloud a.tag7 {
  font-size: 2.8em;
  font-weight: 700;
}
.tagCloud a.tag8 {
  font-size: 3.1em;
  font-weight: 800;
}
.tagCloud a.tag9 {
  font-size: 3.4em;
  font-weight: 900;
}
.tagCloud .tag10 {
  font-size: 3.7em;
  font-weight: 1000;
}
.recentPostText {
  font-size: 1.2em;
}
.postContent {
  font-size: 1.2em !important;
  margin-bottom: 1em;
}
.postTitle {
  font-size: 3em;
  font-weight: bold;
}
.postTitle a:hover {
  text-shadow: 0.03em 0.03em #505050;
  text-decoration: none;
  color: steelblue;
}
.postDate {
  font-size: 1.5em;
}
.postNav {
  margin-bottom: 1em;
}
.postNav a {
  font-size: 2em;
}
.postNav a:hover {
  text-shadow: 0.03em 0.03em #505050;
  text-decoration: none;
  color: white;
}
.olderPosts {
  float: left;
}
.newerPosts {
  float: right;
}
/* About */
.aboutSummary p {
  padding-left: 1em;
  padding-right: 1em;
  color: #303030;
  font-size: 1.3em;
  text-align: justify;
}
.personalImg {
  float: right;
  box-shadow: -0.6em 0.4em 0.5em darkgray;
  height: 600px;
  margin-left: 1em;
  margin-right: 1em;
}
/* Contact */
.contactHeader h1 {
  color: #303030;
  font-weight: bold;
  font-size: 5em;
  padding-bottom: 0.15em;
}
.emailLink img {
  width: 100%;
  padding-bottom: 0.5em;
}
.socialLinks a {
  font-family: "Abel", sans-serif;
  font-size: 2.5em;
  line-height: 2.5em;
  vertical-align: middle;
}
.twitterLink img {
  width: 100%;
  padding-bottom: 0.5em;
}
.githubLink img {
  width: 100%;
}
.socialLinks a:hover {
  font-weight: bolder;
  text-shadow: -0.1em 0.1em 0.5em darkgray;
  background-color: inherit;
  text-decoration: none;
}
/* Footer Text */
.siteFooter,
.page-wrap:after {
  height: 5em;
}
.siteFooter {
  color: #f6f6f6;
  background-color: #517398;
  padding-top: 2em;
  font-size: 1em;
}
.copyrightText {
  margin-top: auto;
  margin-bottom: auto;
}
