// Colors
@mainBackground: #2B2B2B;
@lightBackground: #F6F6F6;
@highlightColor: #DE1B1B;
@lightShadow: #505050;

/* Main page background */
html, body {
  background-color: @mainBackground;
  font-family: "Abel", sans-serif;
  color: @mainBackground;
  height: 100%;
}

.completeLeft {
  padding-left: 0;
}

.completeRight {
  padding-right: 0;
}

.shadow() {
  text-shadow: 0.03em 0.03em @lightShadow;
}

/* General classes */
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.page-wrap{
  min-height: 100%;
  margin-bottom: -5em;
}


.line {
  background-color: @lightBackground;
  height: 5px;
  margin-bottom: 1em;
}

.page-wrap:after{
  content: "";
  display: block;
}

.contentCard {
  background-color: @lightBackground;
  padding: 2em;
  margin-bottom: 1em;
}

/* Name header */
.nameHeader {
  text-align: center;
  padding-left: 2%;

  h1{
    color: @lightBackground;
    font-size: 5em;
    font-weight: bolder;
    .shadow;
  }
}

/* Navigation bar */

.navIcon {
  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    border-radius: 20%;
    border: 5px solid @lightBackground;
    padding: 10px;
    width: 80px;
    height: 80px;
    margin-left: 1em;
    margin-right: 1em;
    overflow: hidden;
  }
}

.navBar {
  //  display: inline-block;
  text-align: center;
}

/* Current Section */
.currSection {
  background-color: @highlightColor;
  margin-bottom: 1em;

  h2 {
    color: @lightBackground;
    margin-top: 1px;
    padding-left: 2%;
    margin-bottom: 0;
  }

  h3 {
    color: @lightBackground;
    padding-left: 2%;
    margin-bottom: 4px;
    margin-top: 0;
  }
}

*[role="heading"] {
  font-weight: bold;
  .shadow;
  color: #303030;
  font-size: 3em;
}

/* Research */
.neuronActivityImg {
  float: right;
  padding-left: 1em;
  padding-right: 1em;
}

.researchStatement p {
  text-align: justify;
  font-size: 1.3em;
  padding-left: 1em;
}

.cvLink a {
  font-size: 2em;
}

// Blog

.blogSummaryBottom {
  a {
    font-size: 1.5em;
  }

  a:hover {
    .shadow;
    text-decoration: none;
    color: steelblue;
  }
}

.rightBlogBrowser {
  margin-right: -1em;
}

@baseTagSize: 1em;
@tagSizeInc: 0.3em;
@baseFontWeight: 100;
@fontWeightInc: 100;

.tagCloud {
  a.tag1 {
    font-size: @baseTagSize;
    font-weight: @baseFontWeight;
  }
  a.tag2 {
    font-size: @baseTagSize + @tagSizeInc;
    font-weight: @baseFontWeight + @fontWeightInc;
  }
  a.tag3 {
    font-size: @baseTagSize + 2*@tagSizeInc;
    font-weight: @baseFontWeight + 2*@fontWeightInc;
  }
  a.tag4 {
    font-size: @baseTagSize + 3*@tagSizeInc;
    font-weight: @baseFontWeight + 3*@fontWeightInc;
  }
  a.tag5 {
    font-size: @baseTagSize + 4*@tagSizeInc;
    font-weight: @baseFontWeight + 4*@fontWeightInc;
  }
  a.tag6 {
    font-size: @baseTagSize + 5*@tagSizeInc;
    font-weight: @baseFontWeight + 5*@fontWeightInc;
  }
  a.tag7 {
    font-size: @baseTagSize + 6*@tagSizeInc;
    font-weight: @baseFontWeight + 6*@fontWeightInc;
  }
  a.tag8 {
    font-size: @baseTagSize + 7*@tagSizeInc;
    font-weight: @baseFontWeight + 7*@fontWeightInc;
  }
  a.tag9 {
    font-size: @baseTagSize + 8*@tagSizeInc;
    font-weight: @baseFontWeight + 8*@fontWeightInc;
  }
  .tag10 {
    font-size: @baseTagSize + 9*@tagSizeInc;
    font-weight: @baseFontWeight + 9*@fontWeightInc;
  }
}

.recentPostText {
  font-size: 1.2em;
}

.postTitle {
  font-size: 3em;
  font-weight: bold;

  a:hover {
    .shadow;
    text-decoration: none;
    color: steelblue;
  }
}

.postDate {
  font-size: 1.5em;
}
.postNav {
  margin-bottom: 1em;

  a {
    font-size: 2em;
  }

  a:hover {
    .shadow;
    text-decoration: none;
    color: white;
  }
}

.olderPosts {
  float: left;
}

.newerPosts {
  float: right;
}

/* About */
.aboutSummary {
  padding-top: 1em;

  p {
    color: #303030;
    font-size: 1.3em;
    text-align: justify;
  }
}

.personalImg {
  float: right;
  box-shadow: -0.6em 0.4em 0.5em darkgray;
  height: 600px;
  margin-left: 2em;
  margin-bottom: 1em;
  margin-right: 1em;
}

/* Contact */
.contactHeader h1 {
  color: #303030;
  font-weight: bold;
  font-size: 5em;
  padding-bottom: 0.15em;
}

.emailLink img {
  width: 100%;
  padding-bottom: 0.5em;
}

.socialLinks a {
  font-family: "Abel", sans-serif;
  font-size: 2.5em;
  line-height: 2.5em;
  vertical-align: middle;
}

.socialLinks {
}

.twitterLink img {
  width: 100%;
  padding-bottom: 0.5em;
}

.githubLink img {
  width: 100%;
}

.socialLinks a:hover {
  font-weight: bolder;
  text-shadow: -0.1em 0.1em 0.5em darkgray;
  background-color: inherit;
  text-decoration: none;
}

/* Footer Text */
.siteFooter, .page-wrap:after{
  height: 5em;
}

.siteFooter {
  color: @lightBackground;
  background-color: @highlightColor;
  padding-top: 2em;
}

.copyrightText {
  margin-top: auto;
  margin-bottom: auto;
}


