/* Main page background */
html,
body {
  background-color: #2b2b2b;
  font-family: "Open Sans", sans-serif;
  color: #2b2b2b;
  height: 100%;
}
html p,
body p {
  color: #303030;
}
.completeLeft {
  padding-left: 0;
}
.center-element {
  padding-left: auto;
  padding-right: auto;
}
.completeRight {
  padding-right: 0;
}
/* General classes */
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -5em;
}
.sectionHeading {
  font-weight: bold;
  margin-bottom: 1.125em;
  font-size: 6em;
}
.line {
  background-color: #f6f6f6;
  height: 5px;
  margin-top: 0.75em;
  margin-bottom: 1.5em;
}
.page-wrap:after {
  content: "";
  display: block;
}
.contentCard {
  background-color: #f6f6f6;
  padding: 2em;
  margin-bottom: 1.5em;
}
/* Name header */
.nameHeader {
  text-align: center;
  padding-left: 2%;
}
.nameHeader h1 {
  color: #f6f6f6;
  font-size: 10em;
  font-weight: bolder;
  text-shadow: 0.06em 0.06em #505050;
}
/* Navigation bar */
.navIcon li {
  display: inline-block;
}
.navIcon a {
  display: inline-block;
  border-radius: 20%;
  border: 5px solid #f6f6f6;
  padding: 10px;
  width: 80px;
  height: 80px;
  margin-left: 1em;
  margin-right: 1em;
  overflow: hidden;
}
.navIcon img {
  margin: auto;
}
.navBar {
  text-align: center;
}
/* Current Section */
.currSection {
  background-color: #4f78d1;
  margin-bottom: 1.5em;
}
.currSection h2 {
  color: #f6f6f6;
  margin-top: 1px;
  padding-left: 2%;
  margin-bottom: 0;
}
.currSection h3 {
  color: #f6f6f6;
  padding-left: 2%;
  margin-bottom: 4px;
  margin-top: 0;
}
*[role="heading"] {
  font-weight: bold;
  text-shadow: 0.06em 0.06em #505050;
  color: #303030;
  font-size: 6em;
}
/* Research */
.neuronActivityImg {
  float: right;
  padding-left: 1em;
  padding-right: 1em;
}
.researchStatement p {
  text-align: justify;
  font-size: 2.6em;
  padding-left: 1em;
  padding-right: 1em;
}
.cvLink a {
  font-size: 4em;
}
.blogPostTitle {
  margin-bottom: 0;
}
.blogDate {
  margin-top: 0;
  margin-bottom: 1.5em;
  font-size: 3em;
}
.blogSummaryBottom a {
  font-size: 3em;
}
.blogSummaryBottom a:hover {
  text-shadow: 0.06em 0.06em #505050;
  text-decoration: none;
  color: steelblue;
}
.rightBlogBrowser {
  margin-right: -1em;
}
.bottomTagList p {
  font-size: 3em;
}
.bottomTagList a {
  font-size: 1em;
}
.rssSubscribe > p a {
  font-size: 2.4em;
  vertical-align: middle;
}
.rssSubscribe > p img {
  width: 35px;
}
.tagCloud a.tag1 {
  font-size: 2em;
  font-weight: 100;
}
.tagCloud a.tag2 {
  font-size: 2.6em;
  font-weight: 200;
}
.tagCloud a.tag3 {
  font-size: 3.2em;
  font-weight: 300;
}
.tagCloud a.tag4 {
  font-size: 3.8em;
  font-weight: 400;
}
.tagCloud a.tag5 {
  font-size: 4.4em;
  font-weight: 500;
}
.tagCloud a.tag6 {
  font-size: 5em;
  font-weight: 600;
}
.tagCloud a.tag7 {
  font-size: 5.6em;
  font-weight: 700;
}
.tagCloud a.tag8 {
  font-size: 6.2em;
  font-weight: 800;
}
.tagCloud a.tag9 {
  font-size: 6.8em;
  font-weight: 900;
}
.tagCloud .tag10 {
  font-size: 7.4em;
  font-weight: 1000;
}
.recentPostText {
  font-size: 2.4em;
}
.postContent {
  font-size: 2.4em !important;
  margin-bottom: 0.75em;
}
.postContent p {
  text-align: justify;
}
.continueReading {
  margin-bottom: 0.75em;
  font-size: 3.5em !important;
}
.postTitle {
  font-size: 6em;
  font-weight: bold;
}
.postTitle a:hover {
  text-shadow: 0.06em 0.06em #505050;
  text-decoration: none;
  color: steelblue;
}
.postDate {
  font-size: 3em;
}
.postNav {
  margin-bottom: 1.5em;
}
.postNav a {
  font-size: 4em;
}
.postNav a:hover {
  text-shadow: 0.06em 0.06em #505050;
  text-decoration: none;
  color: white;
}
.olderPosts {
  float: left;
}
.newerPosts {
  float: right;
}
/* About */
.aboutSummary p {
  padding-left: 2em;
  padding-right: 2em;
  color: #303030;
  font-size: 2.6em;
  text-align: justify;
}
.personalImg {
  float: right;
  box-shadow: -1.2em 0.8em 1em darkgray;
  height: 600px;
  margin-left: 2em;
  margin-right: 2em;
}
/* Contact */
.contactHeader h1 {
  color: #303030;
  font-weight: bold;
  font-size: 10em;
  padding-bottom: 0.15em;
}
.emailLink img {
  width: 100%;
  padding-bottom: 0.5em;
}
.socialLinks a {
  font-family: "Abel", sans-serif;
  font-size: 5em;
  line-height: 2.5em;
  vertical-align: middle;
}
.twitterLink img {
  width: 100%;
  padding-bottom: 0.5em;
}
.githubLink img {
  width: 100%;
}
.socialLinks a:hover {
  font-weight: bolder;
  text-shadow: -0.2em 0.2em 1em darkgray;
  background-color: inherit;
  text-decoration: none;
}
/* Footer Text */
.siteFooter,
.page-wrap:after {
  height: 5em;
}
.siteFooter {
  color: #f6f6f6;
  background-color: #4f78d1;
  padding-top: 2em;
  font-size: 2em;
}
.copyrightText {
  margin-top: auto;
  margin-bottom: auto;
}
/*
 * The MIT License (MIT)
 *
 * Copyright (c) 2013 Alessandro Sansottera (@kuus), http://kunderikuus.net/
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of
 * this software and associated documentation files (the "Software"), to deal in
 * the Software without restriction, including without limitation the rights to
 * use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
 * the Software, and to permit persons to whom the Software is furnished to do so,
 * subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 * COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
 * CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */
/*
*******************************************************************
**                                                               **
**                      LESS ANIMATIONS                          **
**                                                               **
*******************************************************************
*/

@-moz-keyframes flipY {
 50%, 100% {
    -moz-transform: rotateY(180deg); /* {
  /**/
}
  0% {
    -moz-transform: rotateY(0deg); /* {
  /**/
}
} 
@-webkit-keyframes flipY {
 50%, 100% {
    -webkit-transform: rotateY(180deg); /* {
  /**/
}
  0% {
    -webkit-transform: rotateY(0deg); /* {
  /**/
}
} 
@-o-keyframes flipY {
 50%, 100% {
    -o-transform: rotateY(180deg); /* {
  /**/
}
  0% {
    -o-transform: rotateY(0deg); /* {
  /**/
}
} 
@keyframes flipY {
 50%, 100% {
    transform: rotateY(180deg); /* {
  /**/
}
  0% {
    transform: rotateY(0deg); /* {
  /**/
}
} .navAbout > a:hover > img {
  -moz-animation: flipY 1s 150ms;
  -webkit-animation: flipY 1s 150ms;
  -o-animation: flipY 1s 150ms;
  animation: flipY 1s 150ms;
}
.navAbout > a:hover {
  background-color: #4f78d1;
}
.animateAboutMe {
  -moz-animation: flipY 2s 1s infinite;
  -o-animation: flipY 2s 1s infinite;
  -ms-animation: flipY 2s 1s infinite;
  -webkit-animation: flipY 2s 1s infinite;
  animation: flipY 2s 1s infinite;
}
.animateAboutMeColor {
  background-color: #4f78d1;
}

@-moz-keyframes wiggle {
 0%, 70%, 100% {
    -moz-transform: rotate(0deg); /* {
  /**/
}
  15% {
    -moz-transform: rotate(-30deg); /* {
  /**/
}
  45% {
    -moz-transform: rotate(20deg); /* {
  /**/
}
} 
@-webkit-keyframes wiggle {
 0%, 70%, 100% {
    -webkit-transform: rotate(0deg); /* {
  /**/
}
  15% {
    -webkit-transform: rotate(-30deg); /* {
  /**/
}
  45% {
    -webkit-transform: rotate(20deg); /* {
  /**/
}
} 
@-o-keyframes wiggle {
 0%, 70%, 100% {
    -o-transform: rotate(0deg); /* {
  /**/
}
  15% {
    -o-transform: rotate(-30deg); /* {
  /**/
}
  45% {
    -o-transform: rotate(20deg); /* {
  /**/
}
} 
@keyframes wiggle {
 0%, 70%, 100% {
    transform: rotate(0deg); /* {
  /**/
}
  15% {
    transform: rotate(-30deg); /* {
  /**/
}
  45% {
    transform: rotate(20deg); /* {
  /**/
}
} .navResearch > a:hover > img {
  -moz-animation: wiggle 3s 150ms;
  -webkit-animation: wiggle 3s 150ms;
  -o-animation: wiggle 3s 150ms;
  animation: wiggle 3s 150ms;
}
.navResearch > a:hover {
  background-color: #4f78d1;
}
.animateResearch {
  -moz-animation: wiggle 3s 1s infinite;
  -o-animation: wiggle 3s 1s infinite;
  -ms-animation: wiggle 3s 1s infinite;
  -webkit-animation: wiggle 3s 1s infinite;
  animation: wiggle 3s 1s infinite;
}
.animateResearchColor {
  background-color: #4f78d1;
}

@-moz-keyframes pencil-write {
 0% {
    -moz-transform: rotate(-5deg) translate(0px,0px); /* {
  /**/
}
  8% {
    -moz-transform: rotate(5deg) translate(8px,0px); /* {
  /**/
}
  16% {
    -moz-transform: rotate(-5deg) translate(12px,0px); /* {
  /**/
}
  24% {
    -moz-transform: rotate(5deg) translate(16px,0px); /* {
  /**/
}
  32% {
    -moz-transform: rotate(-5deg) translate(20px,0px); /* {
  /**/
}
  40% {
    -moz-transform: rotate(5deg) translate(24px,0px); /* {
  /**/
}
  48% {
    -moz-transform: rotate(-5deg) translate(28px,0px); /* {
  /**/
}
  56% {
    -moz-transform: rotate(5deg) translate(32px,0px); /* {
  /**/
}
  90% {
    -moz-transform: rotate(5deg) translate(0px,0px); /* {
  /**/
}
} 
@-webkit-keyframes pencil-write {
 0% {
    -webkit-transform: rotate(-5deg) translate(0px,0px); /* {
  /**/
}
  8% {
    -webkit-transform: rotate(5deg) translate(8px,0px); /* {
  /**/
}
  16% {
    -webkit-transform: rotate(-5deg) translate(12px,0px); /* {
  /**/
}
  24% {
    -webkit-transform: rotate(5deg) translate(16px,0px); /* {
  /**/
}
  32% {
    -webkit-transform: rotate(-5deg) translate(20px,0px); /* {
  /**/
}
  40% {
    -webkit-transform: rotate(5deg) translate(24px,0px); /* {
  /**/
}
  48% {
    -webkit-transform: rotate(-5deg) translate(28px,0px); /* {
  /**/
}
  56% {
    -webkit-transform: rotate(5deg) translate(32px,0px); /* {
  /**/
}
  90% {
    -webkit-transform: rotate(5deg) translate(0px,0px); /* {
  /**/
}
} 
@-o-keyframes pencil-write {
 0% {
    -o-transform: rotate(-5deg) translate(0px,0px); /* {
  /**/
}
  8% {
    -o-transform: rotate(5deg) translate(8px,0px); /* {
  /**/
}
  16% {
    -o-transform: rotate(-5deg) translate(12px,0px); /* {
  /**/
}
  24% {
    -o-transform: rotate(5deg) translate(16px,0px); /* {
  /**/
}
  32% {
    -o-transform: rotate(-5deg) translate(20px,0px); /* {
  /**/
}
  40% {
    -o-transform: rotate(5deg) translate(24px,0px); /* {
  /**/
}
  48% {
    -o-transform: rotate(-5deg) translate(28px,0px); /* {
  /**/
}
  56% {
    -o-transform: rotate(5deg) translate(32px,0px); /* {
  /**/
}
  90% {
    -o-transform: rotate(5deg) translate(0px,0px); /* {
  /**/
}
} 
@keyframes pencil-write {
 0% {
    transform: rotate(-5deg) translate(0px,0px); /* {
  /**/
}
  8% {
    transform: rotate(5deg) translate(8px,0px); /* {
  /**/
}
  16% {
    transform: rotate(-5deg) translate(12px,0px); /* {
  /**/
}
  24% {
    transform: rotate(5deg) translate(16px,0px); /* {
  /**/
}
  32% {
    transform: rotate(-5deg) translate(20px,0px); /* {
  /**/
}
  40% {
    transform: rotate(5deg) translate(24px,0px); /* {
  /**/
}
  48% {
    transform: rotate(-5deg) translate(28px,0px); /* {
  /**/
}
  56% {
    transform: rotate(5deg) translate(32px,0px); /* {
  /**/
}
  90% {
    transform: rotate(5deg) translate(0px,0px); /* {
  /**/
}
} .navBlog > a:hover > img {
  -moz-animation: pencil-write 2s 150ms;
  -webkit-animation: pencil-write 2s 150ms;
  -o-animation: pencil-write 2s 150ms;
  animation: pencil-write 2s 150ms;
}
.navBlog > a:hover {
  background-color: #4f78d1;
}
.animateBlog {
  -moz-animation: pencil-write 2s 1s infinite;
  -o-animation: pencil-write 2s 1s infinite;
  -ms-animation: pencil-write 2s 1s infinite;
  -webkit-animation: pencil-write 2s 1s infinite;
  animation: pencil-write 2s 1s infinite;
}
.animateBlogColor {
  background-color: #4f78d1;
}

@-moz-keyframes fly-plane {
 0%, 51% {
    -moz-transform: translate(0px,0px); /* {
  /**/
}
  50% {
    -moz-transform: translate(120px,-120px); /* {
  /**/
}
} 
@-webkit-keyframes fly-plane {
 0%, 51% {
    -webkit-transform: translate(0px,0px); /* {
  /**/
}
  50% {
    -webkit-transform: translate(120px,-120px); /* {
  /**/
}
} 
@-o-keyframes fly-plane {
 0%, 51% {
    -o-transform: translate(0px,0px); /* {
  /**/
}
  50% {
    -o-transform: translate(120px,-120px); /* {
  /**/
}
} 
@keyframes fly-plane {
 0%, 51% {
    transform: translate(0px,0px); /* {
  /**/
}
  50% {
    transform: translate(120px,-120px); /* {
  /**/
}
} .navContact > a:hover > img {
  -moz-animation: fly-plane 2s 150ms;
  -webkit-animation: fly-plane 2s 150ms;
  -o-animation: fly-plane 2s 150ms;
  animation: fly-plane 2s 150ms;
}
.navContact > a:hover {
  background-color: #4f78d1;
}
.animateContact {
  -moz-animation: fly-plane 2s 1s infinite;
  -o-animation: fly-plane 2s 1s infinite;
  -ms-animation: fly-plane 2s 1s infinite;
  -webkit-animation: fly-plane 2s 1s infinite;
  animation: fly-plane 2s 1s infinite;
}
.animateContactColor {
  background-color: #4f78d1;
}
.container {
  width: 90%;
}
.fixBoldIOSBug {
  font-weight: normal;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #f6f6f6;
}
.nameHeader h1 {
  font-weight: normal;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #f6f6f6;
}
.currSection h2 {
  font-weight: normal;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #f6f6f6;
}
.postTitle a {
  font-weight: normal;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #f6f6f6;
  -webkit-text-stroke-color: #6b9dc9;
}
.navIcon a {
  width: 160px;
  height: 160px;
  position: relative;
}
.navIcon img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40% 0 0 -40%;
  width: 80%;
  height: 80%;
}
.completeLeft {
  padding-left: 10px;
  padding-right: 10px;
}
.cvLink a {
  font-size: 2em;
}
.postTitle {
  font-size: 4em;
}
.rightBlogBrowser {
  display: none;
}
