/* Main page background */
html,
body {
  background-color: #2B2B2B;
  font-family: "Open Sans", sans-serif;
  color: #2B2B2B;
  height: 100%;
}
html p,
body p {
  color: #303030;
}
.completeLeft {
  padding-left: 0;
}
.center-element {
  padding-left: auto;
  padding-right: auto;
}
.completeRight {
  padding-right: 0;
}
.navIcon {
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
}
/* General classes */
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.centeredImage {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -5em;
}
.sectionHeading {
  font-weight: bold;
  margin-bottom: 1.5em;
  font-size: 3.6em;
}
.line {
  background-color: #F6F6F6;
  height: 5px;
  margin-top: 1em;
  margin-bottom: 2em;
}
.page-wrap:after {
  content: "";
  display: block;
}
.contentCard {
  background-color: #F6F6F6;
  padding: 2em;
  margin-bottom: 2em;
}
/* Name header */
.nameHeader {
  text-align: center;
}
.nameHeader h1 {
  color: #F6F6F6;
  font-size: 6em;
  font-weight: bolder;
  text-shadow: 0.036em 0.036em #505050;
}
.nameHeader a {
  color: inherit;
}
.nameHeader a:hover {
  color: inherit;
  text-decoration: none;
}
/* Navigation bar */
.navIcon li {
  display: inline-block;
}
.navIcon a {
  display: inline-block;
  border-radius: 20%;
  border: 5px solid #F6F6F6;
  padding: 10px;
  width: 80px;
  height: 80px;
  margin-left: 1em;
  margin-right: 1em;
  overflow: hidden;
}
.navIcon img {
  margin: auto;
}
.navBar {
  text-align: center;
}
/* Current Section */
.currSection {
  background-color: #4F78D1;
  margin-bottom: 2em;
}
.currSection h2 {
  color: #F6F6F6;
  margin-top: 1px;
  margin-bottom: 0;
}
.currSection h3 {
  color: #F6F6F6;
  margin-bottom: 4px;
  margin-top: 0;
}
*[role="heading"] {
  font-weight: bold;
  text-shadow: 0.036em 0.036em #505050;
  color: #303030;
  font-size: 3.6em;
}
/* Research */
.neuronActivityImg {
  float: right;
  padding-left: 2em;
  padding-right: 2em;
}
.paper_object span {
  display: table-cell;
  vertical-align: middle;
}
.multi-link {
  padding-right: 2em;
}
.paper_object div img {
  object-fit: contain;
  width: 25vw;
  vertical-align: middle;
  display: table-cell;
}
.paper_object {
  /*height: 500px;*/
  /*line-height: 200px;*/
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-bottom: 4em;
}
.researchStatement p {
  text-align: justify;
  font-size: 1.56em;
  padding-left: 2em;
  padding-right: 2em;
}
.researchStatement h2 {
  padding-left: 1vw;
  text-shadow: 0.02em 0.02em #505050;
  color: #303030;
}
.publications h2 {
  padding-left: 1vw;
  text-shadow: 0.02em 0.02em #505050;
  color: #303030;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.cvLink a {
  font-size: 2.4em;
}
.blogPostTitle {
  margin-bottom: 0;
}
.blogDate {
  margin-top: 1em;
  margin-bottom: 2em;
  font-size: 1.8em;
}
.blogSummaryBottom a {
  font-size: 1.8em;
}
.blogSummaryBottom a:hover {
  text-shadow: 0.036em 0.036em #505050;
  text-decoration: none;
  color: steelblue;
}
.rightBlogBrowser {
  margin-right: -1em;
}
.bottomTagList p {
  font-size: 1.8em;
}
.bottomTagList a {
  font-size: 1em;
}
.rssSubscribe > p a {
  font-size: 1.44em;
  vertical-align: middle;
}
.rssSubscribe > p img {
  width: 35px;
}
.tagCloud a.tag1 {
  font-size: 1.2em;
  font-weight: 100;
}
.tagCloud a.tag2 {
  font-size: 1.56em;
  font-weight: 200;
}
.tagCloud a.tag3 {
  font-size: 1.92em;
  font-weight: 300;
}
.tagCloud a.tag4 {
  font-size: 2.28em;
  font-weight: 400;
}
.tagCloud a.tag5 {
  font-size: 2.64em;
  font-weight: 500;
}
.tagCloud a.tag6 {
  font-size: 3em;
  font-weight: 600;
}
.tagCloud a.tag7 {
  font-size: 3.36em;
  font-weight: 700;
}
.tagCloud a.tag8 {
  font-size: 3.72em;
  font-weight: 800;
}
.tagCloud a.tag9 {
  font-size: 4.08em;
  font-weight: 900;
}
.tagCloud .tag10 {
  font-size: 4.44em;
  font-weight: 1000;
}
.recentPostText {
  font-size: 1.44em;
}
.postContent {
  font-size: 1.44em !important;
  margin-bottom: 4em;
}
.postContent p {
  text-align: justify;
}
.postUpdated {
  font-style: italic;
  margin-top: 2em;
}
.continueReading {
  margin-bottom: 1em;
  font-size: 2.1em !important;
}
.postTitle {
  font-size: 3.6em;
  font-weight: bold;
}
.postTitle a:hover {
  text-shadow: 0.036em 0.036em #505050;
  text-decoration: none;
  color: steelblue;
}
.postDate {
  font-size: 1.8em;
}
.postNav {
  margin-bottom: 2em;
}
.postNav a {
  font-size: 2.4em;
}
.postNav a:hover {
  text-shadow: 0.036em 0.036em #505050;
  text-decoration: none;
  color: white;
}
.olderPosts {
  float: left;
}
.newerPosts {
  float: right;
}
/* About */
.aboutSummary p {
  padding-left: 1.2em;
  padding-right: 1.2em;
  color: #303030;
  font-size: 1.56em;
  text-align: justify;
}
.personalImg {
  float: left;
  box-shadow: 0.6em 0.4em 0.5em darkgray;
  height: 300px;
  margin-right: 2em;
  border-radius: 1%;
}
.personalImgApplePicking {
  float: right;
  box-shadow: 0.6em 0.4em 0.5em darkgray;
  height: 300px;
  margin-left: 2em;
  border-radius: 1%;
}
/* Contact */
.contactHeader h1 {
  color: #303030;
  font-weight: bold;
  font-size: 6em;
  padding-bottom: 0.15em;
}
.emailLink img {
  width: 100%;
  padding-bottom: 0.5em;
}
.socialLinks a {
  font-family: "Abel", sans-serif;
  font-size: 3em;
  line-height: 2.5em;
  vertical-align: middle;
}
.twitterLink img {
  width: 100%;
  padding-bottom: 0.5em;
}
.githubLink img {
  width: 100%;
}
.socialLinks a:hover {
  font-weight: bolder;
  text-shadow: -0.12em 0.12em 0.6em darkgray;
  background-color: inherit;
  text-decoration: none;
}
/* Footer Text */
.siteFooter,
.page-wrap:after {
  height: 5em;
}
.siteFooter {
  color: #F6F6F6;
  background-color: #4F78D1;
  padding-top: 2em;
  font-size: 1.2em;
}
.copyrightText {
  margin-top: auto;
  margin-bottom: auto;
}
/*
 * The MIT License (MIT)
 *
 * Copyright (c) 2013 Alessandro Sansottera (@kuus), http://kunderikuus.net/
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of
 * this software and associated documentation files (the "Software"), to deal in
 * the Software without restriction, including without limitation the rights to
 * use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
 * the Software, and to permit persons to whom the Software is furnished to do so,
 * subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 * COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
 * CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */
/*
*******************************************************************
**                                                               **
**                      LESS ANIMATIONS                          **
**                                                               **
*******************************************************************
*/
`'\n'`@-moz-keyframes flipY {`'\n'` 50%, 100% {`'\n'`    -moz-transform: rotateY(180deg); /* {
  /**/
}
  0% {`'\n'`    -moz-transform: rotateY(0deg); /* {
  /**/
}
} `'\n'`@-webkit-keyframes flipY {`'\n'` 50%, 100% {`'\n'`    -webkit-transform: rotateY(180deg); /* {
  /**/
}
  0% {`'\n'`    -webkit-transform: rotateY(0deg); /* {
  /**/
}
} `'\n'`@-o-keyframes flipY {`'\n'` 50%, 100% {`'\n'`    -o-transform: rotateY(180deg); /* {
  /**/
}
  0% {`'\n'`    -o-transform: rotateY(0deg); /* {
  /**/
}
} `'\n'`@keyframes flipY {`'\n'` 50%, 100% {`'\n'`    transform: rotateY(180deg); /* {
  /**/
}
  0% {`'\n'`    transform: rotateY(0deg); /* {
  /**/
}
} .navAbout > a:hover > img {
  -moz-animation: flipY 1s 150ms;
  -webkit-animation: flipY 1s 150ms;
  -o-animation: flipY 1s 150ms;
  animation: flipY 1s 150ms;
}
.navAbout > a:hover {
  background-color: #4F78D1;
}
.animateAboutMe {
  -moz-animation: flipY 2s 1s infinite;
  -o-animation: flipY 2s 1s infinite;
  -ms-animation: flipY 2s 1s infinite;
  -webkit-animation: flipY 2s 1s infinite;
  animation: flipY 2s 1s infinite;
}
.animateAboutMeColor {
  background-color: #4F78D1;
}
`'\n'`@-moz-keyframes wiggle {`'\n'` 0%, 70%, 100% {`'\n'`    -moz-transform: rotate(0deg); /* {
  /**/
}
  15% {`'\n'`    -moz-transform: rotate(-30deg); /* {
  /**/
}
  45% {`'\n'`    -moz-transform: rotate(20deg); /* {
  /**/
}
} `'\n'`@-webkit-keyframes wiggle {`'\n'` 0%, 70%, 100% {`'\n'`    -webkit-transform: rotate(0deg); /* {
  /**/
}
  15% {`'\n'`    -webkit-transform: rotate(-30deg); /* {
  /**/
}
  45% {`'\n'`    -webkit-transform: rotate(20deg); /* {
  /**/
}
} `'\n'`@-o-keyframes wiggle {`'\n'` 0%, 70%, 100% {`'\n'`    -o-transform: rotate(0deg); /* {
  /**/
}
  15% {`'\n'`    -o-transform: rotate(-30deg); /* {
  /**/
}
  45% {`'\n'`    -o-transform: rotate(20deg); /* {
  /**/
}
} `'\n'`@keyframes wiggle {`'\n'` 0%, 70%, 100% {`'\n'`    transform: rotate(0deg); /* {
  /**/
}
  15% {`'\n'`    transform: rotate(-30deg); /* {
  /**/
}
  45% {`'\n'`    transform: rotate(20deg); /* {
  /**/
}
} .navResearch > a:hover > img {
  -moz-animation: wiggle 3s 150ms;
  -webkit-animation: wiggle 3s 150ms;
  -o-animation: wiggle 3s 150ms;
  animation: wiggle 3s 150ms;
}
.navResearch > a:hover {
  background-color: #4F78D1;
}
.animateResearch {
  -moz-animation: wiggle 3s 1s infinite;
  -o-animation: wiggle 3s 1s infinite;
  -ms-animation: wiggle 3s 1s infinite;
  -webkit-animation: wiggle 3s 1s infinite;
  animation: wiggle 3s 1s infinite;
}
.animateResearchColor {
  background-color: #4F78D1;
}
`'\n'`@-moz-keyframes pencil-write {`'\n'` 0% {`'\n'`    -moz-transform: rotate(-5deg) translate(0px,0px); /* {
  /**/
}
  8% {`'\n'`    -moz-transform: rotate(5deg) translate(4px,0px); /* {
  /**/
}
  16% {`'\n'`    -moz-transform: rotate(-5deg) translate(6px,0px); /* {
  /**/
}
  24% {`'\n'`    -moz-transform: rotate(5deg) translate(8px,0px); /* {
  /**/
}
  32% {`'\n'`    -moz-transform: rotate(-5deg) translate(10px,0px); /* {
  /**/
}
  40% {`'\n'`    -moz-transform: rotate(5deg) translate(12px,0px); /* {
  /**/
}
  48% {`'\n'`    -moz-transform: rotate(-5deg) translate(14px,0px); /* {
  /**/
}
  56% {`'\n'`    -moz-transform: rotate(5deg) translate(16px,0px); /* {
  /**/
}
  90% {`'\n'`    -moz-transform: rotate(5deg) translate(0px,0px); /* {
  /**/
}
} `'\n'`@-webkit-keyframes pencil-write {`'\n'` 0% {`'\n'`    -webkit-transform: rotate(-5deg) translate(0px,0px); /* {
  /**/
}
  8% {`'\n'`    -webkit-transform: rotate(5deg) translate(4px,0px); /* {
  /**/
}
  16% {`'\n'`    -webkit-transform: rotate(-5deg) translate(6px,0px); /* {
  /**/
}
  24% {`'\n'`    -webkit-transform: rotate(5deg) translate(8px,0px); /* {
  /**/
}
  32% {`'\n'`    -webkit-transform: rotate(-5deg) translate(10px,0px); /* {
  /**/
}
  40% {`'\n'`    -webkit-transform: rotate(5deg) translate(12px,0px); /* {
  /**/
}
  48% {`'\n'`    -webkit-transform: rotate(-5deg) translate(14px,0px); /* {
  /**/
}
  56% {`'\n'`    -webkit-transform: rotate(5deg) translate(16px,0px); /* {
  /**/
}
  90% {`'\n'`    -webkit-transform: rotate(5deg) translate(0px,0px); /* {
  /**/
}
} `'\n'`@-o-keyframes pencil-write {`'\n'` 0% {`'\n'`    -o-transform: rotate(-5deg) translate(0px,0px); /* {
  /**/
}
  8% {`'\n'`    -o-transform: rotate(5deg) translate(4px,0px); /* {
  /**/
}
  16% {`'\n'`    -o-transform: rotate(-5deg) translate(6px,0px); /* {
  /**/
}
  24% {`'\n'`    -o-transform: rotate(5deg) translate(8px,0px); /* {
  /**/
}
  32% {`'\n'`    -o-transform: rotate(-5deg) translate(10px,0px); /* {
  /**/
}
  40% {`'\n'`    -o-transform: rotate(5deg) translate(12px,0px); /* {
  /**/
}
  48% {`'\n'`    -o-transform: rotate(-5deg) translate(14px,0px); /* {
  /**/
}
  56% {`'\n'`    -o-transform: rotate(5deg) translate(16px,0px); /* {
  /**/
}
  90% {`'\n'`    -o-transform: rotate(5deg) translate(0px,0px); /* {
  /**/
}
} `'\n'`@keyframes pencil-write {`'\n'` 0% {`'\n'`    transform: rotate(-5deg) translate(0px,0px); /* {
  /**/
}
  8% {`'\n'`    transform: rotate(5deg) translate(4px,0px); /* {
  /**/
}
  16% {`'\n'`    transform: rotate(-5deg) translate(6px,0px); /* {
  /**/
}
  24% {`'\n'`    transform: rotate(5deg) translate(8px,0px); /* {
  /**/
}
  32% {`'\n'`    transform: rotate(-5deg) translate(10px,0px); /* {
  /**/
}
  40% {`'\n'`    transform: rotate(5deg) translate(12px,0px); /* {
  /**/
}
  48% {`'\n'`    transform: rotate(-5deg) translate(14px,0px); /* {
  /**/
}
  56% {`'\n'`    transform: rotate(5deg) translate(16px,0px); /* {
  /**/
}
  90% {`'\n'`    transform: rotate(5deg) translate(0px,0px); /* {
  /**/
}
} .navBlog > a:hover > img {
  -moz-animation: pencil-write 2s 150ms;
  -webkit-animation: pencil-write 2s 150ms;
  -o-animation: pencil-write 2s 150ms;
  animation: pencil-write 2s 150ms;
}
.navBlog > a:hover {
  background-color: #4F78D1;
}
.animateBlog {
  -moz-animation: pencil-write 2s 1s infinite;
  -o-animation: pencil-write 2s 1s infinite;
  -ms-animation: pencil-write 2s 1s infinite;
  -webkit-animation: pencil-write 2s 1s infinite;
  animation: pencil-write 2s 1s infinite;
}
.animateBlogColor {
  background-color: #4F78D1;
}
`'\n'`@-moz-keyframes fly-plane {`'\n'` 0%, 51% {`'\n'`    -moz-transform: translate(0px,0px); /* {
  /**/
}
  50% {`'\n'`    -moz-transform: translate(60px,-60px); /* {
  /**/
}
} `'\n'`@-webkit-keyframes fly-plane {`'\n'` 0%, 51% {`'\n'`    -webkit-transform: translate(0px,0px); /* {
  /**/
}
  50% {`'\n'`    -webkit-transform: translate(60px,-60px); /* {
  /**/
}
} `'\n'`@-o-keyframes fly-plane {`'\n'` 0%, 51% {`'\n'`    -o-transform: translate(0px,0px); /* {
  /**/
}
  50% {`'\n'`    -o-transform: translate(60px,-60px); /* {
  /**/
}
} `'\n'`@keyframes fly-plane {`'\n'` 0%, 51% {`'\n'`    transform: translate(0px,0px); /* {
  /**/
}
  50% {`'\n'`    transform: translate(60px,-60px); /* {
  /**/
}
} .navContact > a:hover > img {
  -moz-animation: fly-plane 2s 150ms;
  -webkit-animation: fly-plane 2s 150ms;
  -o-animation: fly-plane 2s 150ms;
  animation: fly-plane 2s 150ms;
}
.navContact > a:hover {
  background-color: #4F78D1;
}
.animateContact {
  -moz-animation: fly-plane 2s 1s infinite;
  -o-animation: fly-plane 2s 1s infinite;
  -ms-animation: fly-plane 2s 1s infinite;
  -webkit-animation: fly-plane 2s 1s infinite;
  animation: fly-plane 2s 1s infinite;
}
.animateContactColor {
  background-color: #4F78D1;
}
