@import 'animations.less';
@import 'style.less';

@defaultFontSize: 2em;
@defaultMargin: 1.5em;
@animate-min-pix: 4px;

//.aboutSummary p, .researchStatement p {
//  text-align: justify;
//  text-justify: distribute;
//}

.container {
  width: 90%;
}

.newsHeading  {
  padding-top: 0.7*@defaultMargin;
  margin-bottom: 0.4*@defaultMargin;
  font-size: 2*@defaultFontSize;
}

.paper_object span h5.flex-center {
  display: block;
}

.soon-link {
	display: inline-block !important;
	vertical-align: baseline !important;
}

.workshopHeading {
  font-size: 2.5*@defaultFontSize;
}

.neuronActivityImg {
  width: 100%;
  margin-bottom: @defaultMargin;
}

.flex-container {
  display: block;
  text-align: center;
}

.research_container {
  flex-direction: column-reverse;
  justify-content: center;

  h2 {
    font-size: 2.5*@defaultFontSize;
    font-weight: bold;
    text-shadow: none;
  }

  p {
    padding-top: 0.5*@defaultMargin;
    padding-bottom: 0.5*@defaultMargin;
  }
}

.image_div {
  display: flex;
  justify-content: center;
}

.abstract_research_container {
  flex-direction: column;
  justify-content: center;
}

.pub_year {
  margin-top: 0.8*@defaultMargin;
}

.generalization_image {
  width: 80%;
  height: 100%;
  padding-bottom: 3*@defaultMargin;
  padding-top: @defaultMargin;
}

body > div.page-wrap > div.container.publications.contentCard > div.flex-container > h1.sectionHeading {
  margin-bottom: 0.3*@defaultMargin;
}

.cvHeading {
    margin-bottom: 0.5*@defaultMargin;
    font-size: 2.5*@defaultFontSize;
}

.fixBoldIOSBug {
  font-weight: normal;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: @lightBackgroundAndText;
}

.nameHeader h1 {
  .fixBoldIOSBug;
}

.currSection h2 {
  .fixBoldIOSBug;
}

.pub-image {
  width: 80% !important;
  margin: auto;
  float: none !important;
  padding-bottom: 1.5*@defaultMargin;
}

.paper_object{
  flex-direction: column;

  h3 {
    font-size: 2*@defaultFontSize;
  }

  h4 {
    font-size: 1.5*@defaultFontSize;
  }

  h5 {
    font-size: @defaultFontSize;
  }
}

.paper_object * {
  text-align: center;
}

.postTitle a {
  .fixBoldIOSBug;
  -webkit-text-stroke-color: #6b9dc9;
}

.postContent h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.navBar {
  width: 70%;
  margin: auto;
}

.navIcon {

  a {
    width: 160px;
    height: 160px;
    position: relative;
  }

  li > a > img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40% 0 0 -40%;
    width: 80%;
    height: 80%;
  }
}

.personalImg, .personalImgApplePicking {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 62vw;
  height: initial;
  float: initial;
  margin-top: @defaultMargin;
  margin-bottom: @defaultMargin;
}

.completeLeft {
  padding-left: 10px;
  padding-right: 10px;
}

.cvLink a {
  font-size: 2em;
}

.postTitle {
  font-size: 2*@defaultFontSize;
}

h3 {
  font-size: 1.5*@defaultFontSize;
  margin-bottom: 0.9*@defaultMargin;
}

h4 {
  font-size: 1.25*@defaultFontSize;
  margin-bottom: 0.75*@defaultMargin;
}

h5 {
  font-size: 0.8*@defaultFontSize;
  margin-bottom: 0.5*@defaultMargin;
}



// Hide extra blog browser
.rightBlogBrowser {
  display: none;
}