{% extends "site_template.html" %}

{% block headerName %}
    <a href="/about" class="headerLink">
        Ari Morcos
    </a>
{% endblock %}

{% block title %}
    Ari Morcos - About Me
{% endblock %}

{% block sectionName %}
    About Me
{% endblock %}

{% block content %}

    <div class="container aboutSummary contentCard">
        <h1 class="sectionHeading text-center"> {{ self.sectionName() }} </h1>
        <div class="aboutSummaryText">

            <img src="/static/images/Apple%20picking.png" alt="Apple picking" class="personalImgApplePicking">
            <p>
                I am currently a research scientist at <a href="https://deepmind.com/" target="_blank">
                DeepMind</a> in London, working on neuroscience-inspired approaches to AI.
            </p>
            <p>
                I recently completed my PhD in the lab of
                <a href="http://www.harveylab.org" target="_blank">Chris Harvey</a> at Harvard Medical School. Prior to coming
                to Harvard, I attended UCSD where I worked with <a href="http://logg.salk.edu/" target="_blank">Fred Gage</a>
                on the role of REST in adult neurogenesis. I am fascinated by complexity in all things, which is why
                I'm studying the most complex machine I've been able to find: the mammalian brain.
            </p>
            <p>
                For my thesis work, I worked on methods to understand how neuronal circuits perform the computations necessary
                for complex
                behavior. In particular, my research focused on how parietal cortex contributes to evidence accumulation
                for decision-making. I am also interested in using novel analysis techniques from machine learning to
                help us to better understand neuronal circuits and vice-versa. I am especially excited by thinking
                about how insights from real neuronal circuits can help us to improve artificial neural networks and to
                build towards AGI.
            </p>
            <img src="/static/images/Dash.jpg" alt="Dash" class="personalImg">
            <p>
                I started this website/blog to pursue analysis of data sets that don't involve neurons. I have not been particularly
                good at updating it.
            </p>
            <p>
                When I'm not working, I like to go on adventures throughout <strike>Boston</strike> London with my awesome dog,
                Dash. I'm also a history buff and love reading random books about the two World Wars and the
                Cold War.
            </p>
        </div>
    </div>

{% endblock %}