{% extends "site_template.html" %}

{% block headerName %}
    <a href="/about" class="headerLink">
        Ari Morcos
    </a>
{% endblock %}

{% block title %}
    About Me - Ari Morcos
{% endblock %}

{% block sectionName %}
    About Me
{% endblock %}

{% block content %}

    <div class="container aboutSummary contentCard">
        <h1 class="sectionHeading text-center"> {{ self.sectionName() }} </h1>
        <div class="aboutSummaryText">

            <img src="/static/images/FAIR_headshot.jpg" alt="Headshot" class="personalImgApplePicking">
            <p>
                I am a research scientist at <a href="https://research.fb.com/category/facebook-ai-research/" target="_blank">Facebook AI Research (FAIR)</a> in Menlo Park working on understanding the mechanisms underlying neural network computation and function, and using these insights to build machine learning systems more intelligently. In particular, I have worked on a variety of topics, including understanding the lottery ticket hypothesis, self-supervised learning, the mechanisms underlying common regularizers, and the properties predictive of generalization, as well as methods to compare representations across networks, the role of single units in computation, and on strategies to measure abstraction in neural network representations. Previously, I worked at <a href="https://deepmind.com/" target="_blank">DeepMind</a> in London.
            </p>
            <p>
                I earned my PhD working with <a href="http://www.harveylab.org" target="_blank">Chris Harvey</a> at Harvard University . For my thesis, I developed methods to understand how neuronal circuits perform the computations necessary for complex behavior. In particular, my research focused on how parietal cortex contributes to evidence accumulation  decision-making.
            </p>
            <p>
                For my undergraduate work, I attended UCSD, where I worked with <a href="http://logg.salk.edu/" target="_blank">Fred Gage</a> to investigate the role of REST/NRSF in adult neurogenesis.
            </p>
            {# <img src="/static/images/Dash.jpg" alt="Dash" class="personalImg"> #}
            <p>
                When I'm not working, I like to go on adventures with my wife, Julia, and our awesome dog, Maui. I'm also a history buff and love learning about the history of science, the two World Wars, and the Cold War.
            </p>
        </div>
        <h2 class="newsHeading">Recent news (last updated: August 2022)</h2>
        <div class="newsBullets">
            <ul>
                <li><b>July 13, 2022:</b> Co-organized the second <a href="http://www.sparseneural.net" target="_blank"> Sparse NN Workshop</a>.
                <li><b>May 15, 2022:</b> Our papers on <a href="../publications/#model_soups" target="_blank">model soups </a>and<a href="../publications/#coat" target="_blank"> measuring abstraction with COAT</a> were accepted to <i>ICML 2022!</i>
                <li><b>September 28, 2021:</b> Our paper showing that invariance in neural networks is driven by <a href="../publications/#grounding_inductive" target="_blank">data rather than inductive biases or augmentation</a> was accepted to <i> NeurIPS 2021!</i>
                <li><b>May 8, 2021:</b> Our papers on <a href="../publications/#convit" target="_blank">soft inductive biases with ConViT</a> and<a href="../publications/#curi" target="_blank"> benchmarking productive concept learning with CURI</a> were accepted to <i>ICML 2021!</i>
                <li><b>January 12, 2021:</b> Our papers on <a href="../publications/#selectivity_harmful" target="_blank">the potentially harmful impact of highly selective units</a> and on <a href="../publications/#only_batch_norm">training BatchNorm and only BatchNorm</a> were accepted to <i>ICLR 2021</i>
            </ul>
            <h4>
                <a href="../news/">
                    <b>See all news</b>
                </a>
            </h4>
        </div>

<!--        <h2 class="newsHeading">Selected publications</h2>-->

<!--        <h4>-->
<!--            <a href="../publications/#representational_similarity" target="_blank">-->
<!--                Insights on representational similarity in neural networks with canonical correlation-->
<!--            </a>-->
<!--        </h4>-->
<!--        <h5 class="mini-top-padding">-->
<!--            <b>Ari S Morcos</b><sup>&#42;</sup>, Maithra Raghu<sup>&#42;</sup>, and Samy Bengio-->
<!--        </h5>-->
<!--        <h5 class="mini-top-padding">-->
<!--            <i>Neural Information Processing Systems (NeurIPS)</i>, 2018.-->
<!--        </h5>-->
<!--        -->
<!--        <h4>-->
<!--            <a href="../publications/#gqn" target="_blank">-->
<!--                Neural scene representation and rendering-->
<!--            </a>-->
<!--        </h4>-->
<!--        <h5 class="mini-top-padding">-->
<!--            SM Ali Eslami<sup>&#42;</sup>, Danilo J Rezende<sup>&#42;</sup>, Frederic Besse, Fabio Viola, <b>Ari S Morcos</b>, Marta Garnelo, Avraham Ruderman, Andrei A. Rusu, Ivo Danihelka, Karol Gregor, David P. Reichert, Lars Beusing, Theophane Weber, Oriol Vinyals, Dan Rosenbaum, Neil C Rabinowitz, Helen King, Chloe Hillier, Matthew Botvinick, Daan Wierstra, Koray Kavukcuoglu, and Demis Hassabis-->
<!--        </h5>-->
<!--        <h5 class="mini-top-padding">-->
<!--            <i>Science</i> 15 Jun 2018, Vol. 360, Issue 6394, pp. 1204-1210, doi: 10.1126/science.aar6170-->
<!--        </h5>-->

<!--        <h4>-->
<!--            <a href="../publications/#single_directions" target="_blank">-->
<!--                On the importance of single directions for generalization -->
<!--            </a>-->
<!--        </h4>-->
<!--        <h5 class="mini-top-padding">-->
<!--            <b>Ari S Morcos</b>, David GT Barrett, Neil C Rabinowitz, and Matthew Botvinick-->
<!--        </h5>-->
<!--        <h5 class="mini-top-padding">-->
<!--            <i>International Conference on Learning Representations (ICLR)</i>, 2018-->
<!--        </h5>-->

<!--        <h4>-->
<!--            <a href="../publications/#history_dependent_variability" target="_blank">-->
<!--                History-dependent variability in population dynamics during evidence accumulation in cortex-->
<!--            </a>-->
<!--        </h4>-->
<!--        <h5 class="mini-top-padding">-->
<!--            <b>Ari S Morcos</b> and Christopher D Harvey-->
<!--        </h5>-->
<!--        <h5 class="mini-top-padding">-->
<!--            <i>Nature Neuroscience</i> vol. 19, no. 12, pp. 1672–1681, 2016. doi: 10.1038/nn.4403.-->
<!--        </h5>-->

<!--        <h4>-->
<!--            <a href="../publications/">-->
<!--                <b>See all publications</b>-->
<!--            </a>-->
<!--        </h4>-->
    </div>

{% endblock %}