{% extends "site_template.html" %}

{% block headerName %}
    <a href="/about" class="headerLink">
        Ari Morcos
    </a>
{% endblock %}

{% block title %}
    About me - Ari Morcos
{% endblock %}

{% block sectionName %}
    About me
{% endblock %}

{% block content %}

    <div class="container aboutSummary contentCard">
        <h1 class="sectionHeading text-center"> {{ self.sectionName() }} </h1>
        <div class="aboutSummaryText">

            <img src="/static/images/apple_picking.png" alt="Apple picking" class="personalImgApplePicking">
            <p>
                I am a research scientist at <a href="https://deepmind.com/" target="_blank">DeepMind</a> in London, working on using neuroscience-inspired approaches to understand and build more intelligent machines.
            </p>
            <p>
                I earned my PhD working with <a href="http://www.harveylab.org" target="_blank">Chris Harvey</a> at Harvard University. For my thesis work, I worked on methods to understand how neuronal circuits perform the computations necessary for complex behavior. In particular, my research focused on how parietal cortex contributes to evidence accumulation  decision-making.
            </p>
            <p>
                For my undergraduate work, I attended UCSD where I worked with <a href="http://logg.salk.edu/" target="_blank">Fred Gage</a> to investigate the role of REST/NRSF in adult neurogenesis.
            </p>
            {# <img src="/static/images/Dash.jpg" alt="Dash" class="personalImg"> #}
            <p>
                When I'm not working, I like to go on adventures throughout  London with my partner, Julia, and our awesome dog, Dash. I'm also a history buff and love learning about the history of science, the two World Wars, and the Cold War.
            </p>
        </div>
        <h2 class="newsHeading">News</h2>
        <div class="newsBullets">
            <ul>
                {# <li><b>June 21, 2018:</b> Our <a href="" target="_blank">Google AI blog post</a> on our recent paper on <a href="../publications/#representational_similarity" target="_blank">representational similarity</a> was released! #}
                <li><b>June 14, 2018:</b> Our paper describing <a href="../publications/#gqn" target="_blank">Generative Query Networks</a> has been published in <i>Science</i>!
                <li><b>May 11, 2018:</b> Our paper on <a href="../publications/#abstract_reasoning" target="_blank">measuring abstract reasoning</a> was accepted at <i>ICML 2018</i>!
                <li><b>March 21, 2018: </b> Our <a href="https://deepmind.com/blog/understanding-deep-learning-through-neuron-deletion/" target="_blank">DeepMind blog post</a> on our <a href="../publications/#single_directions" target="_blank">ICLR 2018</a> paper was released!
                <li><b>January 29, 2018: </b> Our paper on the relationship between <a href="../publications/#single_directions" target="_blank">generalization, robustness, and interpretability</a> was accepted at <i>ICLR 2018</i>! 
            </ul>
        </div>
    </div>

{% endblock %}