{% extends "site_template.html" %}

{% block headerName %}
    <a href="/about" class="headerLink">
        Ari Morcos
    </a>
{% endblock %}

{% block title %}
    Contact - Ari Morcos
{% endblock %}

{% block sectionName %}
    Contact
{% endblock %}

{% block content %}

    <!--Contact header-->
    <!--<div class="container contactHeader">-->
        <!--<div class="row">-->
            <!--<h1 class="col-md-3 col-md-offset-2">Contact</h1>-->
        <!--</div>-->
    <!--</div>-->

    <!-- Logos -->
    <div class="container socialLinks contentCard">

        <h1 class="sectionHeading text-center"> Contact </h1>

        <div class="row emailLink contactLink">
            <div class="col-md-offset-2 col-xs-offset-2 col-md-1 col-xs-2">
                <a href="mailto:arimorcos@gmail.com" target="_blank">
                    <img src="/static/images/logos/email-icon_small.png" class="img-responsive">
                </a>
            </div>
            <div class="col-md-1 col-xs-4">
                <a href="mailto:arimorcos@gmail.com">Email</a>
            </div>
        </div>
        <div class="row twitterLink contactLink">
            <div class="col-md-offset-2 col-xs-offset-2 col-md-1 col-xs-2">
                <a href="https://twitter.com/arimorcos" target="_blank">
                    <img src="/static/images/logos/Twitter_logo_blue.png" class="img-responsive">
                </a>
            </div>
            <div class="col-md-1 col-xs-4">
                <a href="https://twitter.com/arimorcos">Twitter</a>
            </div>
        </div>
        <div class="row githubLink contactLink">
            <div class="col-md-offset-2 col-xs-offset-2 col-md-1 col-xs-2">
                <a href="https://github.com/arimorcos/" target="_blank">
                    <img src="/static/images/logos/GitHub-Mark-64px.png" class="img-responsive">
                </a>
            </div>
            <div class="col-md-1 col-xs-4">
                <a href="https://github.com/arimorcos/">Github</a>
            </div>
        </div>
        <div class="row linkedInLink contactLink">
            <div class="col-md-offset-2 col-xs-offset-2 col-md-1 col-xs-2">
                <a href="http://www.linkedin.com/in/arimorcos" target="_blank">
                    <img src="/static/images/logos/LinkedIn Logo.png" class="img-responsive">
                </a>
            </div>
            <div class="col-md-1 col-xs-4">
                <a href="http://www.linkedin.com/in/arimorcos">LinkedIn</a>
            </div>
        </div>
    </div>

{% endblock %}

