{% extends "site_template.html" %}

{% block headerName %}
    <a href="/about" class="headerLink">
        Ari Morcos
    </a>
{% endblock %}

{% block title %}
    Page not found
{% endblock %}

{% block sectionName %}
    Page not found
{% endblock %}

{% block content %}

<!-- Research statement -->
<div class="container researchStatement contentCard">
    <div class="row">
        <h1 class="sectionHeading text-center"> Whoops! That page doesn't exist. </h1>
    </div>
</div>

{% endblock %}