{% extends "site_template.html" %}

{% block headerName %}
    <a href="/about" class="headerLink">
        Ari Morcos
    </a>
{% endblock %}

{% block title %}
    Ari Morcos - Deep Learning
{% endblock %}

{% block sectionName %}
    Deep Learning
{% endblock %}

{% block content %}

<!-- Research statement -->
<div class="container researchStatement contentCard">
    <div class="row">
        <h1 class="sectionHeading text-center"> {{ self.sectionName() }} </h1>
        <p>
            Manipulating neural circuits <i>in vivo</i> is incredibly challenging. Moreover, the measures of neuronal
            activity we record are noisy, with noise being added by both the microscope and the calcium
            indicator. If we can replicate the circuit <i>in silico</i>, we would be able to overcome both of these
            obstacles as we would have complete control of the circuit and perfect measures of its activity. Using
            recurrent neural networks, we are working on replicating the dynamics of neural circuits in
            cortex in this manner. Hopefully, interrogation of these <i>in silico</i> circuits will allow us to generate
            new predictions about the neural dynamics which we can then test experimentally <i>in vivo</i>.
        </p>
    </div>
</div>

{% endblock %}