{% extends "site_template.html" %}

{% block headerName %}
    <a href="/about" class="headerLink">
        Ari Morcos
    </a>
{% endblock %}

{% block title %}
    Neuroscience research - Ari Morcos
{% endblock %}

{% block sectionName %}
    Neuroscience research
{% endblock %}

{% block content %}

<!-- Research statement -->
<div class="container researchStatement contentCard">
    <div class="row">
        <h1 class="sectionHeading text-center"> {{ self.sectionName() }} </h1>
        <p>
            <img src="/static/images/AM144_activity_example.gif" alt="Sample neuronal activity in the PPC"
                 class="neuronActivityImg">
            During my Ph.D., I studied how neuronal populations in cortex perform the computations relevant for complex behavior.
            In particular, I focused on evidence accumulation for decision-making. We make important decisions every day,
            and the vast majority of them require us to accumulate multiple, discrete, pieces of evidence on both short
            and long timescales to arrive at an accurate decision. For example, on a short timescale, when deciding which
            way to turn while driving, we might combine our position, streetsigns, information from maps, and landmarks
            to make a correct turn. The accumulation of evidence for decision-making is an essential
            component of our daily lives, and yet, the neuronal circuit mechanisms which perform the computations necessary
            for this complex task remain unknown.
        </p>
        <p>
            To uncover the inner workings of these circuits, we used a recently developed behavioral paradigm to train
            mice to perform complex decision-making tasks requiring the accumulation of multiple, discrete pieces of
            evidence while using two-photon microscopy to simultaneously image the activity of hundreds
            of neurons in layers 2/3 of the Posterior Parietal Cortex (PPC). With these datasets in hand, we leveraged
            a variety of data analytics, ranging from the classic techniques of reverse correlation to recent
            breakthroughs in machine learning to uncover the inner workings of these circuits.
        </p>
        <p>
            The neural dynamics underlying these tasks are incredibly complex and developing better methods to analyze
            these data is essential to our understanding. In particular, I focused on developing methods to analyze
            neuronal popualation dynamics on single trials. Using such analyses, we were able to identify multiple
            major features of the population activity, including a distributed code among heterogeneous individual
            neurons, history signals for past events lasting seconds, and structured trial-trial variability that was
            predictive of past and future activity patterns. Together our results provide data that contradict the
            long-standing models of evidence accumulation and that propose a novel model of computation based on
            large-scale neuronal population dynamics.
        </p>
    </div>
</div>

{% endblock %}