{% extends "site_template.html" %}

{% block headerName %}
    <a href="/about" class="headerLink">
        Ari Morcos
    </a>
{% endblock %}

{% block title %}
    News - Ari Morcos
{% endblock %}

{% block sectionName %}
    News
{% endblock %}

{% block content %}

    <div class="container aboutSummary contentCard">
        <h1 class="sectionHeading text-center"> {{ self.sectionName() }} </h1>
        <h2 class="text-left pub_year" id="2018">2018</h2>
        <div class="newsBullets">
            <ul>
                <li><b>June 21, 2018:</b> Our <a href="https://ai.googleblog.com/2018/06/how-can-neural-network-similarity-help.html" target="_blank">Google AI blog post</a> on our recent paper on <a href="../publications/#representational_similarity" target="_blank">representational similarity</a> was released!
                <li><b>June 14, 2018:</b> Our paper describing <a href="../publications/#gqn" target="_blank">Generative Query Networks</a> has been published in <i>Science</i>!
                <li><b>May 11, 2018:</b> Our paper on <a href="../publications/#abstract_reasoning" target="_blank">measuring abstract reasoning</a> was accepted at <i>ICML 2018</i>!
                <li><b>March 21, 2018: </b> Our <a href="https://deepmind.com/blog/understanding-deep-learning-through-neuron-deletion/" target="_blank">DeepMind blog post</a> on our <a href="../publications/#single_directions" target="_blank">ICLR 2018</a> paper was released!
                <li><b>January 29, 2018: </b> Our paper on the relationship between <a href="../publications/#single_directions" target="_blank">generalization, robustness, and interpretability</a> was accepted at <i>ICLR 2018</i>! 
            </ul>
        </div>
    </div>

{% endblock %}