{% extends "site_template.html" %}

{% block headerName %}
    <a href="/about" class="headerLink">
        Ari Morcos
    </a>
{% endblock %}

{% block title %}
    News - Ari Morcos
{% endblock %}

{% block sectionName %}
    News
{% endblock %}

{% block content %}

    <div class="container aboutSummary contentCard">
        <h1 class="sectionHeading text-center"> {{ self.sectionName() }} </h1>

        <h2 class="lastUpdated text-center">
            Last updated: November 2022
        </h2>
        
        <h2 class="text-left pub_year" id="2022">2022</h2>
        
        <div class="newsBullets">
            <ul>
                <li><b>November 21, 2022</b><a href="../publications/#beyond_neural_scaling" target="_blank">Beyond neural scaling laws: beating power law scaling via data pruning</a> earned an <a href="https://blog.neurips.cc/2022/11/21/announcing-the-neurips-2022-awards" target="_blank">Outstanding Paper</a> award at NeurIPS 2022!</li> 
                <li><b>September 14, 2022</b> Our work on <a href="../publications/#beyond_neural_scaling" target="_blank">beating power law scaling via data pruning</a> was accepted to <i>NeurIPS 2022</i> as an oral!</li>
                <li><b>July 13, 2022:</b> Co-organized the second <a href="http://www.sparseneural.net" target="_blank"> Sparse NN Workshop</a>.
                <li><b>May 15, 2022:</b> Our papers on <a href="../publications/#model_soups" target="_blank">model soups </a>and<a href="../publications/#coat" target="_blank"> measuring abstraction with COAT</a> were accepted to <i>ICML 2022!</i>
            </ul>
        </div>

        <h2 class="text-left pub_year" id="2021">2021</h2>

        <div class="newsBullets">
            <ul>
                <li><b>September 28, 2021:</b> Our paper showing that invariance in neural networks is driven by <a href="../publications/#grounding_inductive" target="_blank">data rather than inductive biases or augmentation</a> was accepted to <i> NeurIPS 2021!</i>
                <li><b>May 8, 2021:</b> Our papers on <a href="../publications/#convit" target="_blank">soft inductive biases with ConViT</a> and<a href="../publications/#curi" target="_blank"> benchmarking productive concept learning with CURI</a> were accepted to <i>ICML 2021!</i>
                <li><b>January 12, 2021:</b> Our papers on <a href="../publications/#selectivity_harmful" target="_blank"> and the potentially harmful impact of highly selective units</a> and on <a href="../publications/#only_batch_norm">training BatchNorm and only BatchNorm</a> were accepted to <i>ICLR 2021!</i>
            </ul>
        </div>

        <h2 class="text-left pub_year" id="2020">2020</h2>

        <div class="newsBullets">
            <ul>
                <li><b>November 2, 2020:</b> Our paper on <a href="../publications/#latent_canon" target="_blank">representation learning with latent canonicalizations</a> was accepted to <i>WACV 2021</i>!
                <li><b>November 2, 2020:</b> I had a lot of fun appearing on the <a href="https://www.underratedml.com/episodes/season-3-episode-04-the-importance-of-certain-layers-in-dnns" target="_blank">Underrated ML</a> podcast discussing my choice for an underrated paper: <a href="https://arxiv.org/abs/1902.01996" target="_blank"><i>Are all layers created equal?</i></a> by Chiyuan Zhang and collaborators. </li>
                <li><b>October 28, 2020:</b> Our <a href="https://ai.facebook.com/blog/easy-to-interpret-neurons-may-hinder-learning-in-deep-neural-networks" target="_blank">blog post</a> on our recent line of papers evaluating the causal impact of selectivity is now out!</li>
                <li><b>October 22, 2020:</b> Check out our new <a href="../publications/#falsifiable_interp" target="_blank">position paper/perspective</a> on falsifiable interpretability research. </li>
                <li><b>September 25, 2020:</b> Our paper on the <a href="../publications/#gen_stability" target="_blank">generalization-stability tradeoff</a> was accepted to <i>NeurIPS 2020</i>! </li>
                <li><b>June 14, 2020:</b> I appeared on the <a href="https://datacast.simplecast.com/episodes/ari-morcos" target="_blank">DataCast podcast</a>. Had a fun conversation summarizing my career trajectory and many of my papers! </li>
                <li><b>January 30, 2020:</b> Spoke about our recent work on <a href="../publications/#only_batch_norm" target="_blank">training batch normalization and only batch normalization</a> at the <a href="https://www.re-work.co/events/deep-learning-summit-san-francisco-2020/speakers" target="_blank">REWORK Deep Learning Summit SF</a>. </li>
            </ul>
        </div>


        <h2 class="text-left pub_year" id="2019">2019</h2>

        <div class="newsBullets">
            <ul>
                <li><b>December 19, 2019:</b> Our papers on the <a href="../publications/#early_phase" target="_blank">early phase of neural network training</a>, <a href="../publications/#lottery_tickets_rl_nlp" target="_blank">lottery tickets in RL and NLP</a>, and <a href="../publications/#dd_ppo" target="_blank">DD-PPO</a> were accepted to <i>ICLR 2020</i>! </li>
                <li><b>October 24, 2019:</b> Spoke about our recent work on <a href="../publications/#one_ticket" target="_blank">lottery tickets</a> at the <a href="https://www.re-work.co/events/deep-learning-summit-montreal-2019/speakers" target="_blank">REWORK Deep Learning Summit Montreal</a>. Video available <a href="https://www.youtube.com/watch?v=oOgbHpjTwwA" target="_blank">here</a>. </li>
                <li><b>September 3, 2019:</b> <a href="../publications/#one_ticket" target="_blank">Our paper</a> investigating the generality of winning ticket initializations across datasets was accepted at <i>NeurIPS 2019</i>!
                <li><b>June 15, 2019:</b> Co-organized a workshop on investigating <a href="http://deep-phenomena.org/" target="_blank">deep phenomena</a> at ICML 2019. 
                <li><b>February 19, 2019:</b> Our review (with <a href="http://mlg.eng.cam.ac.uk/~barrett/" target="_blank">David GT Barrett</a> and <a href="https://www.mackelab.org/" target="_blank">Jakob H Macke</a>) on methods to analyze both biological and artifical neural networks is out <a href="../publications/#synergy" target="_blank">in <i>Current Opinion in Neurobiology</i></a>! 
            </ul>
        </div>

        <h2 class="text-left pub_year" id="2018">2018</h2>

        <div class="newsBullets">
            <ul>
                <li><b>December 20, 2018:</b> <a href="../publications/#labc" target="_blank">Our paper</a> on using contrasting options to learn complex generalization problems was accepted at <i>ICLR 2019</i>!
                <li><b>September 17, 2018:</b> I've moved back to the US and joined <a href="https://research.fb.com/category/facebook-ai-research/" target="_blank">Facebook AI Research (FAIR)</a> in Menlo Park, CA!
                <li><b>September 5, 2018:</b> Our paper on <a href="../publications/#representational_similarity" target="_blank">representational similarity</a> was accepted at <i>NIPS 2018</i>!
                <li><b>July 11, 2018:</b> Our <a href="https://deepmind.com/blog/measuring-abstract-reasoning/" target="_blank">DeepMind blog post</a> on our recent <i>ICML 2018</i> paper on <a href="../publications/#abstract_reasoning" target="_blank">measuring abstract reasoning</a> was released!
                <li><b>June 21, 2018:</b> Our <a href="https://ai.googleblog.com/2018/06/how-can-neural-network-similarity-help.html" target="_blank">Google AI blog post</a> on our recent paper on <a href="../publications/#representational_similarity" target="_blank">representational similarity</a> was released!
                <li><b>June 14, 2018:</b> Our paper describing <a href="../publications/#gqn" target="_blank">Generative Query Networks</a> has been published in <i>Science</i>!
                <li><b>May 11, 2018:</b> Our paper on <a href="../publications/#abstract_reasoning" target="_blank">measuring abstract reasoning</a> was accepted at <i>ICML 2018</i>!
                <li><b>March 21, 2018: </b> Our <a href="https://deepmind.com/blog/understanding-deep-learning-through-neuron-deletion/" target="_blank">DeepMind blog post</a> on our <a href="../publications/#single_directions" target="_blank">ICLR 2018</a> paper was released!
                <li><b>January 29, 2018: </b> Our paper on the relationship between <a href="../publications/#single_directions" target="_blank">generalization, robustness, and interpretability</a> was accepted at <i>ICLR 2018</i>! 
            </ul>
        </div>
    </div>

{% endblock %}