{% extends "site_template.html" %}

{% block headerName %}
    <a href="/about" class="headerLink">
        Ari Morcos
    </a>
{% endblock %}

{% block title %}
    News - Ari Morcos
{% endblock %}

{% block sectionName %}
    News
{% endblock %}

{% block content %}

    <div class="container aboutSummary contentCard">
        <h1 class="sectionHeading text-center"> {{ self.sectionName() }} </h1>

        <h2 class="lastUpdated text-center">
            Last updated: October 2020
        </h2>

        <h2 class="text-left pub_year" id="2020">2020</h2>

        <div class="newsBullets">
            <ul>
                <li><b>October 28, 2020:</b> Our <a href="https://ai.facebook.com/blog/easy-to-interpret-neurons-may-hinder-learning-in-deep-neural-networks" target="_blank">blog post</a> on our recent line of papers evaluating the causal impact of selectivity is now out!</li>
                <li><b>September 25, 2020:</b> Our paper on the <a href="../publications/#gen_stability" target="_blank">generalization-stability tradeoff</a> was accepted to <i>NeurIPS 2020</i>! </li>
                <li><b>January 30, 2020:</b> Spoke about our recent work on <a href="../publications/#only_batch_norm" target="_blank">training batch normalization and only batch normalization</a> at the <a href="https://www.re-work.co/events/deep-learning-summit-san-francisco-2020/speakers" target="_blank">REWORK Deep Learning Summit SF</a>. </li>
            </ul>
        </div>


        <h2 class="text-left pub_year" id="2019">2019</h2>

        <div class="newsBullets">
            <ul>
                <li><b>December 19, 2019:</b> Our papers on the <a href="../publications/#early_phase" target="_blank">early phase of neural network training</a>, <a href="../publications/#lottery_tickets_rl_nlp" target="_blank">lottery tickets in RL and NLP</a>, and <a href="../publications/#dd_ppo" target="_blank">DD-PPO</a> were accepted to <i>ICLR 2020</i>! </li>
                <li><b>October 24, 2019:</b> Spoke about our recent work on <a href="../publications/#one_ticket" target="_blank">lottery tickets</a> at the <a href="https://www.re-work.co/events/deep-learning-summit-montreal-2019/speakers" target="_blank">REWORK Deep Learning Summit Montreal</a>. Video available <a href="https://www.youtube.com/watch?v=oOgbHpjTwwA" target="_blank">here</a>. </li>
                <li><b>September 3, 2019:</b> <a href="../publications/#one_ticket" target="_blank">Our paper</a> investigating the generality of winning ticket initializations across datasets was accepted at <i>NeurIPS 2019</i>!
                <li><b>June 15, 2019:</b> Co-organized a workshop on investigating <a href="http://deep-phenomena.org/" target="_blank">deep phenomena</a> at ICML 2019. 
                <li><b>February 19, 2019:</b> Our review (with <a href="http://mlg.eng.cam.ac.uk/~barrett/" target="_blank">David GT Barrett</a> and <a href="https://www.mackelab.org/" target="_blank">Jakob H Macke</a>) on methods to analyze both biological and artifical neural networks is out <a href="../publications/#synergy" target="_blank">in <i>Current Opinion in Neurobiology</i></a>! 
            </ul>
        </div>

        <h2 class="text-left pub_year" id="2018">2018</h2>

        <div class="newsBullets">
            <ul>
                <li><b>December 20, 2018:</b> <a href="../publications/#labc" target="_blank">Our paper</a> on using contrasting options to learn complex generalization problems was accepted at <i>ICLR 2019</i>!
                <li><b>September 17, 2018:</b> I've moved back to the US and joined <a href="https://research.fb.com/category/facebook-ai-research/" target="_blank">Facebook AI Research (FAIR)</a> in Menlo Park, CA!
                <li><b>September 5, 2018:</b> Our paper on <a href="../publications/#representational_similarity" target="_blank">representational similarity</a> was accepted at <i>NIPS 2018</i>!
                <li><b>July 11, 2018:</b> Our <a href="https://deepmind.com/blog/measuring-abstract-reasoning/" target="_blank">DeepMind blog post</a> on our recent <i>ICML 2018</i> paper on <a href="../publications/#abstract_reasoning" target="_blank">measuring abstract reasoning</a> was released!
                <li><b>June 21, 2018:</b> Our <a href="https://ai.googleblog.com/2018/06/how-can-neural-network-similarity-help.html" target="_blank">Google AI blog post</a> on our recent paper on <a href="../publications/#representational_similarity" target="_blank">representational similarity</a> was released!
                <li><b>June 14, 2018:</b> Our paper describing <a href="../publications/#gqn" target="_blank">Generative Query Networks</a> has been published in <i>Science</i>!
                <li><b>May 11, 2018:</b> Our paper on <a href="../publications/#abstract_reasoning" target="_blank">measuring abstract reasoning</a> was accepted at <i>ICML 2018</i>!
                <li><b>March 21, 2018: </b> Our <a href="https://deepmind.com/blog/understanding-deep-learning-through-neuron-deletion/" target="_blank">DeepMind blog post</a> on our <a href="../publications/#single_directions" target="_blank">ICLR 2018</a> paper was released!
                <li><b>January 29, 2018: </b> Our paper on the relationship between <a href="../publications/#single_directions" target="_blank">generalization, robustness, and interpretability</a> was accepted at <i>ICLR 2018</i>! 
            </ul>
        </div>
    </div>

{% endblock %}