{% extends "site_redesign.html" %}

{% block headerName %}
    Fairly One-Dimensional
{% endblock %}

{% block title %}
    Fairly One-Dimensional
{% endblock %}

{% block sectionName %}
    Fairly One-Dimensional
{% endblock %}

{% block content %}

    {% for post in posts %}
        <div class="container contentCard">
            <a href="{{ url_for('blogPost', name=post.path.replace('posts/', '')) }}">
                {{ post.title }}
            </a>
            <small>{{ post.date }}</small>
        </div>
    {% endfor %}

{% endblock %}