{% extends "site_template.html" %}

{% block headerName %}
    <a href="/blog/page/1" class="headerLink">
        Fairly One-Dimensional
    </a>
{% endblock %}

{% block meta %}
    <meta id="postList">
{% endblock %}

{% block title %}
    Fairly One-Dimensional
{% endblock %}

{% block sectionName %}
    Fairly One-Dimensional
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row completeLeft postList col-md-9 col-sm-12 col-xs-12">

            {% for post in posts %}

                <div class="contentCard">
                    <div class="recentPost">

                        {#  Title and date  #}
                        <h2 class="blogPostTitle sectionHeading text-center">
                            <a href="{{ url_for('blogPost', name=post.path.replace('blogPosts/', '')) }}">
                                {{ post.title }}
                            </a>
                        </h2>
                        <h4 class=" blogDate text-center">
                            {{ post.date }}
                        </h4>

                        {% if post.image is defined %}
                            <div class="postImage">
                                <img src={{ post.image }} width=100%></img>
                            </div>
                        {% endif %}

                        {#  Blurb from blog post  #}
                        <div class="postContent">
                            <p>
                                {{ post.html | safe }}
                            </p>
                        </div>

                        <div class="row blogSummaryBottom">

                            {#  Add continue reading  #}
                            <a class="continueReading col-md-12 col-xs-12"
                               href="{{ url_for('blogPost', name=post.path.replace('blogPosts/', '')) }}">
                                Continue Reading &#8594;
                            </a>

                            {#  Add comment count  #}
                            <a class="disqus-comment-count commentCount col-md-3 col-xs-5"
                               data-disqus-identifier="{{ post.title }}"
                               href="{{ url_for('blogPost', name=post.path.replace('blogPosts/', '')) }}#disqus_thread">
                            </a>

                            <div class="bottomTagList col-md-5 col-xs-12">
                                <p>
                                    Tagged with:
                                    {% for tag in post.tagList %}
                                        {% if not loop.last %}
                                            <a href="{{ url_for('blogTag', tagName=tag, pageNum=1) }}">{{ tag }},</a>
                                        {% else %}
                                            <a href="{{ url_for('blogTag', tagName=tag, pageNum=1) }}">{{ tag }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </div>

                            <span class="shareButtons pull-right col-md-4 col-xs-12">
                                <span class='st_twitter_large' displayText='Tweet'></span>
                                <span class='st_reddit_large' displayText='Reddit'></span>
                                <span class='st_facebook_large' displayText='Facebook'></span>
                                <span class='st_googleplus_large' displayText='Google +'></span>
                                <span class='st_email_large' displayText='Email'></span>
                            </span>



                        </div>
                    </div>
                </div>

            {% endfor %}

            {#  Page navigation  #}
            {% if shouldOlder or shouldNewer %}
                <div class="postNav">
                    {% if shouldOlder %}
                        <a href={{ olderPage }} class="olderPosts">
                            &#8592; Older Posts
                        </a>
                    {% endif %}
                    {% if shouldNewer %}
                        <a href={{ newerPage }} class="newerPosts">
                            &#8594; Newer Posts
                        </a>
                    {% endif %}
                </div>
            {% endif %}

        </div>

        {#  Recent Posts  #}
        <div class="contentCard rightBlogBrowser pull-right
                    col-md-3 col-sm-3">

            <h2 class="text-center">Recent Posts</h2>
            {% for recpost in recentPosts %}
                <p>
                    <a href="{{ url_for('blogPost', name=recpost.path.replace('blogPosts/', '')) }}"
                       class="recentPostText">
                        {{ recpost.title }}
                    </a>
                </p>
            {% endfor %}
        </div>

        {#  Tags  #}
        <div class="contentCard rightBlogBrowser pull-right tagCloud
                    col-md-3 col-sm-3">
            <h2 class="text-center">Common Topics</h2>
            {% for tag in tagFreq|sort %}

                {% if not loop.last %}
                    <a href="{{ url_for('blogTag', tagName=tag, pageNum=1) }}"
                       class="{{ tagFreq[tag] }}">
                        {{ tag }},
                    </a>
                {% else %}
                    <a href="{{ url_for('blogTag', tagName=tag, pageNum=1) }}"
                       class="{{ tagFreq[tag] }}">
                        {{ tag }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>

        {#  RSS Feed  #}
        <div class="contentCard rightBlogBrowser pull-right rssSubscribe
                    col-md-3 col-sm-3">
            <p>
                <img src="/static/images/navigation-icons/rss_icon.png"
                     href="/static/rss/fairlyOneDimensionalFeed.xml">
                <a href="/static/rss/fairlyOneDimensionalFeed.xml">
                    Subscribe to RSS Feed
                </a>
            </p>
        </div>
    </div>

    {#  Add disqus comment counts  #}
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'arimorcos'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>


{% endblock %}