{% extends "site_template.html" %}

{% block headerName %}
    <a href="/about" class="headerLink">
        Ari Morcos
    </a>
{% endblock %}

{% block title %}
    CV and publications - Ari Morcos
{% endblock %}

{% block sectionName %}
    Publications
{% endblock %}

{% block content %}

<div class="container publications contentCard">
    <div class="row">
        <h1 class=" sectionHeading text-center">
            {{ self.sectionName() }}
        </h1>
    </div>

    <div class="paper_object" id="deformation_stability">

        <span class="nopadding">
            <h3 class="text-left">
                <b>
                    <a href="https://arxiv.org/abs/1804.04438" target="_blank">
                        Learned deformation stability in convolutional neural networks
                    </a>
                </b>
            </h3>
            <h5 class="text-left">
                Avraham Ruderman, <a href="https://scholar.google.com/citations?user=AgUYQMwAAAAJ&hl=en&oi=ao" target="_blank">Neil C Rabinowitz</a>, <b>Ari S Morcos</b>, and <a href="https://scholar.google.com/citations?user=1JQDH_AAAAAJ&hl=en" target="_blank">Daniel Zoran</a> 
            </h5>
            <h5 class="text-left mini-top-padding">
                <i>arXiv</i>, 2018.
            </h5>
            <h5 class="text-left flex-center">
                <a class="multi-link no-underline-hover" href="/static/pdfs/2018_ruderman_deformation_stability.pdf" target="_blank">
                    <span class="pdf-link">PDF</span>
                </a>
                <a class="multi-link no-underline-hover" href="https://arxiv.org/abs/1804.04438" target="_blank">
                    <span class="arxiv-link">arXiv</span>
                </a>
            </h5>
        </span>
        <div>
            <img src="/static/images/publication_images/deformation_sensitivity_transparent.png" class="pull-right pub-image">
        </div>
        
    </div>

    <div class="paper_object" id="single_directions">

        <span class="nopadding">
            <h3 class="text-left">
                <b>
                    <a href="https://arxiv.org/abs/1803.06959" target="_blank">
                        On the importance of single directions for generalization 
                    </a>
                </b>
            </h3>
            <h5 class="text-left">
                <b>Ari S Morcos</b>, <a href="http://mlg.eng.cam.ac.uk/~barrett/" target="_blank">David GT Barrett</a>, <a href="https://scholar.google.com/citations?user=AgUYQMwAAAAJ&hl=en&oi=ao" target="_blank">Neil C Rabinowitz</a>, and <a href="https://scholar.google.com/citations?user=eM916YMAAAAJ&hl=en" target="_blank">Matthew Botvinick</a>
            </h5>
            <h5 class="text-left mini-top-padding">
                <i>ICLR</i>, 2018
            </h5>
            <h5 class="text-left flex-center">
                <a class="multi-link no-underline-hover" href="/static/pdfs/morcos_single_directions_iclr_2018.pdf" target="_blank">
                    <span class="pdf-link">PDF</span>
                </a>
                <a class="multi-link no-underline-hover" href="https://arxiv.org/abs/1803.06959" target="_blank">
                    <span class="arxiv-link">arXiv</span>
                </a>
                <a class="multi-link no-underline-hover" href="http://openreview.net/forum?id=r1iuQjxCZ" target="_blank">
                    <span class="openreview-link">OpenReview</span>
                </a>
                <a class="multi-link no-underline-hover" href="/static/posters/single_directions_generalization_poster_iclr.pdf" target="_blank">
                    <span class="poster-link">Poster</span>
                </a>
            </h5>
            <h4 class="text-left medium-offset">
                <a href="https://deepmind.com/blog/understanding-deep-learning-through-neuron-deletion/" target="_blank">
                    DeepMind Blog: Understanding deep learning through neuron deletion
                </a>
            </h4>
            <h5 class="text-left">
                <a class="multi-link" href="http://www.bbc.co.uk/news/technology-43514566" target="_blank">
                    <span>BBC</span>
                </a>
                <a class="multi-link" href="https://www.theregister.co.uk/2018/03/23/deepmind/" target="_blank">
                    <span>The Register</span>
                </a>
                <a class="multi-link" href="http://siliconangle.com/blog/2018/03/23/new-deepmind-research-applies-neuron-deletion-improving-ai-models/" target="_blank">
                    <span>Silicon Angle</span>
                </a>
                <a class="multi-link" href="https://www.analyticsvidhya.com/blog/2018/03/deepmind-using-neuron-deleting-understand-deep-neural-networks/" target="_blank">
                    <span>Analytics Vidhya</span>
                </a>
            </h5>
        </span>
        <div>
            <img src="/static/images/publication_images/single_directions_fig_1_transparent.png" class="pull-right pub-image">
        </div>
        
    </div>

    <div class="paper_object" id="history_dependent_variability">

        <span class="nopadding">
            <h3 class="text-left">
                <b>
                    <a href="http://www.nature.com/neuro/journal/v19/n12/full/nn.4403.html" target="_blank">
                        History-dependent variability in population dynamics during evidence accumulation in cortex
                    </a>
                </b>
            </h3>
            <h5 class="text-left">
                <b>Ari S Morcos</b> and <a href="http://harveylab.hms.harvard.edu/" target="_blank">Christopher D Harvey</a>
            </h5>
            <h5 class="text-left mini-top-padding">
                <i>Nature Neuroscience</i> vol. 19,
                no. 12, pp. 1672–1681, 2016. doi: 10.1038/nn.4403.
            </h5>
            <h5 class="text-left flex-center">
                <a class="multi-link no-underline-hover" href="/static/pdfs/morcos_harvey_2016.pdf" target="_blank">
                    <span class="pdf-link">PDF</span>
                </a>
                <a class="multi-link no-underline-hover" href="http://www.nature.com/neuro/journal/v19/n12/full/nn.4403.html" target="_blank">
                    <span class="natureneuro-link">Nature Neuroscience</span>
                </a>
            </h5>
            <br/>
            <h4 class="text-left">
                <a href="http://www.nature.com/neuro/journal/v19/n12/full/nn.4440.html" target="_blank">
                    News and Views: Many paths from state to state
                </a>
            </h4>
            <h5 class="text-left">
                <a href="https://sites.google.com/site/antimatt/" target="_blank">Matthew T Kaufman</a> and <a href="http://churchlandlab.labsites.cshl.edu/" target="_blank">Anne K Churchland</a>
            </h5>
            <h5 class="text-left mini-top-padding">
                 <i>Nature Neuroscience</i> vol. 19, no.12, pp. 1541–1542, 2016. doi:10.1038/nn.4440
            </h5>
            <h5 class="text-left">
                <a class="no-underline-hover multi-link" href="/static/pdfs/kaufman_churchland_news_views.pdf" target="_blank">
                    <span class="pdf-link">PDF</span>
                </a>
                <a class="multi-link no-underline-hover" href="http://www.nature.com/neuro/journal/v19/n12/full/nn.4440.html" target="_blank">
                    <span class="natureneuro-link">Nature Neuroscience</span>
                </a>
            </h5>
        </span>
        <div>
            <img src="/static/images/publication_images/history_dependent.png" class="pull-right pub-image">
        </div>
    </div>

    <div class="paper_object" id="rest">
        <span class="nopadding">
            <h3 class="text-left">
                <b>
                    <a href="http://www.jneurosci.org/content/35/44/14872.short" target="_blank">
                        REST regulates non-cell-autonomous neuronal differentiation and maturation of neural progenitor cells via Secretogranin II
                    </a>
                </b>
            </h3>
            <h5 class="text-left">
                <a href="https://www.unmc.edu/psychiatry/about/faculty/kim.html" target="_blank">Hyung Joon Kim</a>, <a href="https://scholar.google.com/citations?user=VW5UQ74AAAAJ&hl=en" target="_blank">Ahmet M Denli</a>, <a href="https://www.linkedin.com/in/rebecca-wright-034b0594/" target="_blank">Rebecca Wright</a>, <a href="https://www.linkedin.com/in/tithi-baul/" target="_blank">Tithi D Baul</a>, <a href="http://faculty.sites.uci.edu/starklab/dane-clemenson-ph-d/" target="_blank">Gregory D Clemenson</a>, <b>Ari S Morcos</b>, <a href="https://www.linkedin.com/in/chunmei-zhao-1b92953b/" target="_blank">Chunmei Zhao</a>, Simon T Schafer, <a href="https://www.salk.edu/scientist/rusty-gage/" target="_blank">Fred H Gage</a>, and <a href="https://www.linkedin.com/in/mohamedikagalwala/" target="_blank">Mohamedi N Kagalwala</a>
            </h5>
            <h5 class="text-left mini-top-padding">
                <i>Journal of Neuroscience</i>,
                vol. 35, no. 44, pp. 14872–14884, 2015. doi: 10.1523/JNEUROSCI.4286-14.2015.
            </h5>
            <h5 class="text-left flex-center">
                <a class="multi-link no-underline-hover" href="/static/pdfs/kim_2015_j_neuro.pdf" target="_blank">
                    <span class="pdf-link">PDF</span>
                </a>
                <a class="multi-link no-underline-hover" href="http://www.jneurosci.org/content/35/44/14872.short" target="_blank">
                    <span class="jneuro-link">Journal of Neuroscience</span>
                </a>
            </h5>
        </span>
        <div>
            <img src="/static/images/publication_images/rest_image.png" class="pull-right pub-image">
        </div>
    </div>

    <div class="row">
        <h1 class=" sectionHeading text-center">
            Workshop publications, theses, and abstracts
        </h1>
    </div>

    <div class="paper_object" id="single_directions_nips_workshop">

        <span class="nopadding">
            <h4 class="text-left">
                <b>
                    <a href="/static/pdfs/single_directions_nips_workshop.pdf" target="_blank">
                        On the importance of single directions for generalization 
                    </a>
                </b>
            </h4>
            <h5 class="text-left">
                <b>Ari S Morcos</b>, <a href="http://mlg.eng.cam.ac.uk/~barrett/" target="_blank">David GT Barrett</a>, <a href="https://scholar.google.com/citations?user=AgUYQMwAAAAJ&hl=en&oi=ao" target="_blank">Neil C Rabinowitz</a>, and <a href="https://scholar.google.com/citations?user=eM916YMAAAAJ&hl=en" target="_blank">Matthew Botvinick</a>
            </h5>
            <h5 class="text-left mini-top-padding">
                <i>NIPS Deep Learning: Bridging Theory and Practice</i>, December, 2017. Barcelona, Spain.
            </h5>
            <h5 class="text-left flex-center">
                <a class="multi-link no-underline-hover" href="/static/pdfs/single_directions_nips_workshop.pdf" target="_blank">
                    <span class="pdf-link">PDF</span>
                </a>
                <a class="multi-link no-underline-hover" href="https://ludwigschmidt.github.io/nips17-dl-workshop-website/" target="_blank">
                    <span class="cosyne-link">Bridging Theory and Practice Workshop</span>
                </a>
            </h5>
        
    </div>

    <div class="paper_object" id="phd_thesis">

        <span class="nopadding">
            <h4 class="text-left">
                <b>
                    <a href="/static/pdfs/MORCOS-DISSERTATION-2016.pdf" target="_blank">
                    Population dynamics in parietal cortex during evidence accumulation for decision-making
                </a>
                </b>
            </h4>
            <h5 class="text-left">
                <b>Ari S Morcos</b>
            </h5>
            <h5 class="text-left mini-top-padding">
                PhD Thesis, Harvard University. April, 2016.
            </h5>
            <h5 class="text-left flex-center">
                <a class="multi-link no-underline-hover" href="https://dash.harvard.edu/handle/1/33493459" target="_blank">
                    <span class="abstract-link">Abstract</span>
                </a>
                <a class="multi-link no-underline-hover" href="/static/pdfs/MORCOS-DISSERTATION-2016.pdf" target="_blank">
                    <span class="pdf-link">PDF</span>
                </a>
            </h5>
    </div>

    <div class="paper_object" id="history_dependent_variability_cosyne">

        <span class="nopadding">
            <h4 class="text-left">
                <b>
                    <a href="/static/pdfs/morcos_cosyne_2016_abstract.pdf" target="_blank">
                        History-dependent variability in population dynamics during evidence accumulation in cortex
                    </a>
                </b>
            </h4>
            <h5 class="text-left">
                <b>Ari S Morcos</b> and <a href="http://harveylab.hms.harvard.edu/" target="_blank">Christopher D Harvey</a>
            </h5>
            <h5 class="text-left mini-top-padding">
                <i>COSYNE (main meeting)</i>, February, 2016. Salt Lake City, UT, USA. <b style="color:red">Selected for oral presentation.</b>
            </h5>
            <h5 class="text-left flex-center">
                <a class="multi-link no-underline-hover" href="/static/pdfs/morcos_cosyne_2016_abstract.pdf" target="_blank">
                    <span class="abstract-link">Abstract</span>
                </a>
                <a class="multi-link no-underline-hover" href="http://cosyne.org/cosyne16/Cosyne2016_program_book.pdf" target="_blank">
                    <span class="cosyne-link">COSYNE Meeting Book</span>
                </a>
            </h5>
    </div>

    <div class="paper_object" id="sfn_rest_poster">

        <span class="nopadding">
            <h4 class="text-left">
                <b>
                    <a href="/static/posters/morcos_sfn_2010.pdf" target="_blank">
                    The role of REST/NRSF in adult neurogenesis
                </a>
                </b>
            </h4>
            <h5 class="text-left">
                <b>Ari S Morcos</b>, <a href="https://www.linkedin.com/in/mohamedikagalwala/" target="_blank">Mohamedi N Kagalwala</a>, <a href="https://scholar.google.com/citations?user=VW5UQ74AAAAJ&hl=en" target="_blank">Ahmet M Denli</a>, and <a href="https://www.salk.edu/scientist/rusty-gage/" target="_blank">Fred H Gage</a>.
            </h5>
            <h5 class="text-left mini-top-padding">
                <i>Society for Neuroscience</i>, November, 2010. San Diego, USA.
            </h5>
            <h5 class="text-left flex-center">
                <a class="multi-link no-underline-hover" href="http://www.abstractsonline.com/Plan/ViewAbstract.aspx?sKey=f6e83e30-34a6-4633-8fd6-e801db72ef2b&cKey=e83b96c8-7cc5-41e4-8029-3e6396bb8885&mKey=%7bE5D5C83F-CE2D-4D71-9DD6-FC7231E090FB%7d" target="_blank">
                    <span class="abstract-link">Abstract</span>
                </a>
                <a class="multi-link no-underline-hover" href="/static/posters/morcos_sfn_2010.pdf" target="_blank">
                    <span class="poster-link">Poster</span>
                </a>
            </h5>
    </div>

</div>

<div class="container contentCard">
    <p class="cvLink">
        <a href="/static/pdfs/morcos_as_cv.pdf" target="_blank">Download my CV here</a>
    </p>
</div>

{% endblock %}