<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {# Page Title #}
    <title>{% block title %}{% endblock %}</title>

    {#  Page icons_show.html  #}
    <link rel="apple-touch-icon" sizes="57x57" href="/static/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/icons/manifest.json">
    <link rel="shortcut icon" href="/static/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/static/icons/mstile-144x144.png">
    <meta name="msapplication-config" content="/static/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    {#  Style  #}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Abel">
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">#}
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style/animations.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style/tooltipster.css" />

    {#  jQuery  #}
    <script type="text/javascript" src="/static/javascript/jquery-1.11.2.min.js"></script>
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>#}
    <script type="text/javascript" src="/static/javascript/jquery.tooltipster.min.js"></script>
    <script type="text/javascript" src="/static/javascript/main.js"></script>

</head>
<body>

<div class="page-wrap">

    <div class="nameHeader">
        <h1>Ari Morcos</h1>
    </div>

    <div class="container-fluid">
        <div class="navBar" role="navigation">
            <div class="row">
                <ul class="navIcon">
                    <li class="navAbout">
                        <a href="/about/" class="showTooltip" title="About Me">
                            <img src="/static/images/navigation-icons/about_me.png"
                                 class="img-responsive">
                        </a>
                    </li>
                    <li class="navResearch">
                        <a href="/research/" class="showTooltip" title="Research">
                            <img src="/static/images/navigation-icons/brain_icon.png"
                                 class="img-responsive">
                        </a>
                    </li>
                    <li class="navBlog">
                        <a href="/posts/" class="showTooltip" title="Blog">
                            <img src="/static/images/navigation-icons/pencil.png"
                                 class="img-responsive">
                        </a>
                    </li>
                    <li class="navContact">
                        <a href="/contact/" class="showTooltip" title="Contact">
                            <img src="/static/images/navigation-icons/paper_airplane.png"
                                 class="img-responsive">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row currSection">
            <h2 class="text-center" role="heading"> {% block sectionName %}{% endblock %} </h2>
        </div>
    </div>

    {# Page Content #}
    {% block content %}{% endblock %}

</div>

{# Footer #}
<footer class="siteFooter">
    <p class="copyrightText text-center">
        &copy; 2015 Ari Morcos All rights reserved
    </p>
</footer>

</body>
</html>